[2019-12-10 13:36] alexalok opened #4 ".NET Framework support"
**Current status:** partial support
- [x] JWT support
- [ ] ~Certificate support~ *(there's an external blocking bug, probably in `WinHttpHandler`, see #3)*

**Target level:** .NET Framework 4.6
- [ ] .~NET Framework 4.5.2~ ([WinHttpHandler](https://www.nuget.org/packages/System.Net.Http.WinHttpHandler/) doesn't support this version)
- [x] .NET Framework 4.6 *(partial support, certificate connecti

[2019-12-16 13:19] alexalok opened #5 "Mono support status"
Current status on how dotAPNS works on Mono:

- [ ] ~`Apns.CreateUsingCert()`~ - doesn't work due to a different X509Certificate2.Subject property handling. It doesn't include `0.9.2342.19200300.100.1.1=...` extension as it does on .NET Framework and .NET Core.
- [ ] ~`Apns.CreateUsingJwt()`~ - doesn't work, throws `NotImplementedException` somewhere in this method.

Since I don't use Mono and do

[2019-12-16 13:22] alexalok commented on #5
If the issue gets an external interest, I'll reopen it right away.

[2019-12-16 13:22] #5 closed, assigned to nobody

[2019-12-16 13:34] alexalok opened #6 ".NET Core support status"
**.NET Core 3.x**
- [x] `ApnsClient.ConnectUsingJwt()`
- [x] `ApnsClient.ConnectUsingCert()`

**.NET Core 2.x**
- [x] `ApnsClient.ConnectUsingJwt()` - works if `AppContext.SetSwitch("System.Net.Http.UseSocketsHttpHandler", false);` is specified somewhere in the program before the connection is created.
- [ ] ~`ApnsClient.ConnectUsingCert()`~ - doesn't work and probably will never do. Gets the same

[2020-01-14 12:37] alexalok commented on #4
.NET Framework support has been merged into master: https://github.com/alexalok/dotAPNS/commit/38297888ab173c176312951fdbbf955eab65ff0d

[2020-01-14 12:37] #4 closed, assigned to alexalok

[2020-01-14 12:37] #6 closed, assigned to nobody

[2020-03-07 08:35] Faisal0sal opened #8 "Bouncy Castle - support for 3.1"
Warning NU1701: Package 'BouncyCastle 1.8.5' was restored using '.NETFramework,Version=v4.6.1, .NETFramework,Version=v4.6.2, .NETFramework,Version=v4.7, .NETFramework,Version=v4.7.1, .NETFramework,Version=v4.7.2, .NETFramework,Version=v4.8' instead of the project target framework '.NETCoreApp,Version=v3.1'. This package may not be fully compatible with your project. (NU1701)

[2020-03-07 09:13] alexalok commented on #8
Hi!

.NET Core apps can consume .NET Framework library, albeit their functionality may be limited when used like that.

In our case, however, the required functionality works as expected, so you may safely ignore the warning. It shouldn't prevent you from building and running your application.

[2020-03-07 10:06] Faisal0sal commented on #8
@alexalok Thank you for your response, I was going to use as you said anyway. But I'm trying to add services.AddApns();

And it says that there is no reference for it.

[2020-03-07 10:11] alexalok commented on #8
It seems that you've referenced the main [dotAPNS](https://www.nuget.org/packages/dotAPNS/) package. Instead, you should reference [dotAPNS.AspNetCore](https://www.nuget.org/packages/dotAPNS.AspNetCore/) package, which contains code that integrates dotAPNS with ASP.NET Core projects.

Also, if you reference dotAPNS.AspNetCore, you can safely remove the reference to dotAPNS as it is implicitly adde

[2020-03-07 10:37] Faisal0sal commented on #8
Thank you so much. One more thing, when using the certificate we do need to specify the password. How would we do that after CreateUsingCert

[2020-03-07 10:48] Faisal0sal commented on #8
I have created another certificate with no password, then faced this issue:

An error occurred while sending the request.
 ---> System.ObjectDisposedException: Cannot access a disposed object.
Object name: 'SslStream'.

[2020-03-07 11:04] alexalok commented on #8
Please provide a code sample that you have issues with. Note that `ApnsClient.CreateUsingCert` has an overload allowing you to pass `X509Certificate2` object, which you can construct from an arbitrary certificate, even the one that has a password (see [this](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.x509certificates.x509certificate2.-ctor?view=netframework-4.8#System

[2020-03-07 11:06] Faisal0sal commented on #8
Well, I have been able to work with the certificate issue. Only this issue is now I'm facing:

`An error occurred while sending the request.
 ---> System.ObjectDisposedException: Cannot access a disposed object.
Object name: 'SslStream'.`

`// POST
        // Send Notifications
        // KeyId {}
        [HttpPost("notify")]
        public async Task<IActionResult> sendNotificationAsync()

[2020-03-07 11:11] alexalok commented on #8
I see. Could you please provide a full stack trace of an exception? Right now I'm not entirely sure as to what can be the cause of the issue you're facing.

[2020-03-07 11:12] Faisal0sal commented on #8
`System.Net.Http.HttpRequestException: An error occurred while sending the request.
 ---> System.ObjectDisposedException: Cannot access a disposed object.
Object name: 'SslStream'.
   at System.Net.Security.SslStream.ThrowIfExceptional()
   at System.Net.Security.SslStream.CheckThrow(Boolean authSuccessCheck, Boolean shutdownCheck)
   at System.Net.Security.SslStream.ReadAsync(Memory`1 buffer, Can

[2020-03-07 11:21] Faisal0sal commented on #8
Issue is not happening anymore once I have set sandbox to true

[2020-03-07 11:26] alexalok commented on #8
According to the stack trace,  I can see that the actual exception happens somewhere inside the HttpClient that dotAPNS uses to make HTTP/2 requests.
Unfortunately, there is no clear sign of what can be causing the issue.

If possible, create a separate project with the minimum code that reproduces the issue and send it to me at contact@alexalok.me
If you do so, please be sure to include the certi

[2020-03-10 13:07] alexalok commented on #8
Hi, @Faisal0sal, just checking if you still need an assistance. If you're all up and running, perhaps the issue can be closed?
Please note that if there is no answer from your side the issue will be closed in a few days.

[2020-03-12 09:48] alexalok commented on #8
The issue is closed due to the lack of feedback.

[2020-03-12 09:48] #8 closed, assigned to nobody

[2020-03-20 16:58] Faisal0sal opened #9 "Notification is sent, but always in the background"
`ApplePushAlert pushAlert = new ApplePushAlert("TITLE", "BODY");

            ApplePush push = ApplePush
                .CreateAlert(pushAlert)
                .AddToken("12b5bb89699ca2a0068f4b01444d0cc49670c489b8e661c37e9029de3101141c");

            var apns = ApnsClient.CreateUsingJwt(new HttpClient(), options);

            ApnsResponse response = await apns.Send(push);`

I'm using the code a

[2020-03-20 21:35] alexalok commented on #9
Greetings!

At the first glance, everything looks OK. Perhaps you could check the `response` variable? If there is an error with the push send, it will be reflected in `ReasonString` property of the `ApnsResponse`.

[2020-03-21 06:30] Faisal0sal commented on #9
`{
  "response": {
    "reason": 0,
    "reasonString": null,
    "isSuccessful": true
  }
}`

It looks like there's nothing wrong here. Would a sandbox apns affect this maybe?

[2020-03-21 08:11] Faisal0sal commented on #9
nvm I'm not using sandbox

[2020-03-21 08:38] alexalok commented on #9
If you were using sandbox with the production tokens than `response` would contain an error, so this is out of question indeed.

[2020-03-21 08:42] Faisal0sal commented on #9
I figured out the issue. I'm developing a wallet pass and with wallet passes the alerts are actually ignored and the display message is a change in the wallet fields.

Thanks @alexalok  and sorry to bother you

[2020-03-21 08:42] #9 closed, assigned to nobody

[2020-03-21 08:44] alexalok commented on #9
Glad to hear that you sorted this out! Thank you for sharing the root cause as well.

[2020-04-09 11:30] alexalok opened #16 "Exception when using token-based authentication in ASP.NET app hosted in IIS"
The cause is explained at https://stackoverflow.com/a/1345402

[code]

[2020-05-06 22:10] alekop opened #21 "Persisting last token time and value"
I'm recreating the ApnsClient class when needed and then disposing of it, so there is no permanent instance to keep track of the last token and generation time. It seems to be working so far - I am able to send multiple messages in a short period without errors - but I'm not sure if this is something I should be concerned about.

[2020-05-07 07:14] alexalok commented on #21
While it works since each ApnsClient instance generates its own JWT, I suggest you to keep an eye on possible failures as  [APNs docs](https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/establishing_a_token-based_connection_to_apns) states that

If the failures happen indeed, please report here and I will work on a solution to persist a JWT for your

[2020-05-13 17:23] alexalok commented on #21
Closing the issue since no feedback has been provided. If there's something to update me on, please feel free to reopen it.

[2020-05-13 17:23] #21 closed, assigned to nobody

[2020-07-03 12:12] eapeldoorn opened #24 "MissingMethodException dotAPNS.ApnsClient dotAPNS.ApnsClient.CreateUsingJwt"
Sending of push notification is done in a class library. Calling this library from a ASP.NET MVC application (.NET Framework 4.6.1) works. But when calling the library from a WEB API (.NET Framework 4.6.1) using Postman it is not working. It breaks on this line of code:

var apns = ApnsClient.CreateUsingJwt(new HttpClient(new WinHttpHandler()), options);

I see this in my log file:

System.Missing

[2020-07-03 13:02] alexalok commented on #24
Could you please provide a minimal repro (i.e. a fully set up project but without any code specific to your application)? If this is possible, make sure to remove your JWT data. You can upload your project either as a separate github repository or simply email me at *contact(at)alexalok.me*.

[2020-07-03 13:49] eapeldoorn commented on #24
Alex, I sent you a sample project. Actually, this projects works. Can the exception come from missing dependencies in my project?
I'll try to reinstall the NuGet package including all dependencies.

[2020-07-03 15:57] alexalok commented on #24
Probably related to https://github.com/dotnet/runtime/issues/28826, I suggest to do the following:
1. Ensure that you have the latest version of [System.Net.Http](https://www.nuget.org/packages/System.Net.Http/) package, which is 4.3.4 at the moment of writing. While it is being implicitly referenced by dotAPNS itself I still suggest to add an explicit reference.
2.  Open *Web.config* and ensure t

[2020-07-06 05:56] gregorosaurus opened #25 "Null exception when using CertFilePath"
Hey there,

I'm getting an error when using the CertFilePath of the ApnsJwtOptions.
I debugged through it and it looks like the code is doing some replacing on the options.CertContent, instead of the "certContent".

This is where the certContent is read.
[code]

This is where the replace happens shortly after the if/else statement: (line 151 ApnsClient.cs)
[code]

As you can see, options.CertConte

[2020-07-06 17:39] alexalok commented on #25
Hi and thanks for the report! I can confirm this is indeed a bug. The fix will be released ASAP.

[2020-07-06 17:53] #25 closed, assigned to nobody

[2020-07-06 18:32] alexalok commented on #25
The NuGet package [v2.3.1](https://www.nuget.org/packages/dotAPNS/2.3.1) with the corresponding fix has been released. Thanks again for the report!

[2020-07-06 18:43] gregorosaurus commented on #25
Awesome thank you!

[2020-07-08 10:04] eapeldoorn commented on #24
Alex, I tried your suggestion and it is working! I updated the System.Net.Http NuGet package to 4.3.4 in my projects. The assemblybinding is changed to:

`<dependentAssembly>
<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
</dependentAssembly>`

Push sent succesfully.

[2020-07-08 11:59] alexalok commented on #24
I'm glad that you've managed to resolve the issue! Thanks for sharing the steps you've performed so that others could use them should they get stuck in a similar situation.
As this is not directly related to the library but rather to the underlying .NET package management system there's nothing more I could do.

[2020-07-08 11:59] #24 closed, assigned to nobody

[2020-07-29 14:04] lxalln commented on #9
@Faisal0sal did you manage to get this working?

I am using dotAPNS to do the same as you, update my passes. However, although the response suggests success, I'm seeing no updates to the passes, and no requests to the `GET /v1/devices/{deviceLibraryIdentifier}/registrations/{passTypeIdentifier}?passesUpdatedSince={tag}` endpoint.

I'm struggling to find any information beyond that, any help would

[2020-08-14 15:30] DNetORM opened #27 "Why not give a detailed example？"
I have read it several times, but I don't know how to use it. I want to use P18 certificate and password to send information to Apple's interface. Why did I look for the code and didn't find an example? What's the point of your code

[2020-08-14 15:39] DNetORM commented on #27
You should give an example, how to load the certificate file, the parameters of the certificate password, bring the payload format, and then call your push method, whether it is real data, it doesn't matter. please  show the detail process to others, I do not know how to use it for several times.

[2020-08-14 15:53] alexalok commented on #27
To create an APNs client instance using .p12 certificate you may use the following code:
[code]
Note that if you have the certificate in another format (i.e. not .p12) then you have to convert it before using. There's plenty instructions on the Internet on how to do that.

I do not quite get what do you mean by that. If you mean loading a password-protected certificate, then there's an overload of

[2020-08-14 17:34] DNetORM commented on #27
Thanks. Apple's push wasted me three days. It's finally solved now.

[2020-08-15 09:07] alexalok commented on #27
Glad I could help! Feel free to open a new issue should you have any further difficulties.

[2020-08-15 09:07] #27 closed, assigned to nobody

[2020-08-15 09:09] alexalok opened #28 "Update README"
Code examples in the README use obsolete constructions. They should be updated to the latest supported format.

[2020-08-21 17:15] alexalok commented on #28
Done in a733aca0d77caa2977eaaff15a732ee29fd17166.

[2020-08-21 17:15] #28 closed, assigned to alexalok

[2020-08-23 14:53] alexalok commented on #16
Seems to be fixed either on CLR or IIS side, at least on the latest versions. Should anyone bump into a similar issue, there's a quick and simple workaround explained [here](https://stackoverflow.com/a/10048789).

[2020-08-23 14:53] #16 closed, assigned to alexalok

[2020-09-10 18:56] denisp76 opened #31 "Support for apns-expiration in APNs request headers"
Dear,
it could be interesting support also notification's expiration date.
According to [documentation](https://developer.apple.com/library/archive/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/CommunicatingwithAPNs.html#//apple_ref/doc/uid/TP40008194-CH11-SW1), It needs to add in the HttpRequestMessage the header 'apns-expiration' with a 'UNIX epoch date expressed in seconds (

[2020-09-10 19:32] alexalok commented on #31
Hey, @denisp76 !
Thanks for the heads up. I will definitely look into this tomorrow.

[2020-09-11 06:17] denisp76 commented on #31
Hi Alexalok,perfect! 
Only for test, I downloaded your code and try to do it. I think  it's quite simple:
In class ApnsJwtOptions.cs, I added ExpirationInHours:
 /// <summary>        /// Notification's expiration in hours .        /// </summary>        [CanBeNull]        public int ExpirationInHours        {            get => _expirationInHours;            set => _expirationInHours = value;       

[2020-09-11 06:24] denisp76 commented on #31
Hi Alex,
perfect!
Only for test, I downloaded your code and try to do it. I think  it's quite simple:

In class ApnsJwtOptions.cs, I added ExpirationInHours:

[code]

Change the costructor of ApnsClient.cs adding this new parameters:

[code]

Then I added in the ApnsClient.Send method the new header:

`req.Headers.Add("apns-expiration", (Math.Floor(DateTime.Now.Millisecond / 1000d) + (60 * 60 * _e

[2020-09-11 07:14] vorpalmace opened #32 "Thread-id support"
Hello,

I'd like to add a "thread-id" field to the payload, but after reading the documentation and checking the source code I couldn't figure it out how to do it. Is there a way already to do this, or if there isn't, are there any plants to implement it?

Thanks,
Tamás

[2020-09-11 09:12] alexalok commented on #31
I've added support for the proposed feature to the https://github.com/alexalok/dotAPNS/tree/feat-apns-expiration branch. Could you please test it and confirm everything is working as expected?

One thing to notice is that the code you proposed sets expiration date for the whole APNs client instance, meaning all pushes sent though it expire at the same date. I believe it makes more sense to set exp

[2020-09-11 09:27] alexalok commented on #32
Hello, Tamás!

You may use `ApplePush.AddCustomProperty` method, for example:
### To add the field to the root of the payload
[code]
###  Or to the `aps` section
[code]
An example can also be found [here](https://github.com/alexalok/dotAPNS/blob/72f23e74f81717968b7dfcc997660b105d8c3d63/dotAPNS.Tests/ApplePush_Tests.cs#L90).

Please feel free to reach out if you need more assistance!

Regards,
Alex

[2020-09-11 10:25] denisp76 commented on #31
Wonderful! I will test it as soon as possible! --> Perfect work well!

Thx,
Denis.

[2020-09-11 14:01] vorpalmace commented on #32
Thank you for the quick reply! The aps example is exactly what I was looking for. Somehow I missed that AddCustomProperty has a third parameter.

Regars,
Tamás

[2020-09-11 14:01] #32 closed, assigned to nobody

[2020-09-11 14:51] alexalok commented on #32
Glad I could help! I will provide more examples in the README to make this more clear :)

[2020-09-11 14:52] alexalok opened #33 "Add AddCustomProperty examples in README"
Add an example showing how to add a custom field to the push payload in the README - both to the root and the `aps` sections.

[2020-09-17 12:46] agentschmitt opened #34 "Bouncy Castle warning with NETCoreApp,Version=v3.1"
When i add dotAPNS.AspNetCore to my project i get this warning:
Warning NU1701: Package 'BouncyCastle 1.8.5' was restored using '.NETFramework,Version=v4.6.1, .NETFramework,Version=v4.6.2, .NETFramework,Version=v4.7, .NETFramework,Version=v4.7.1, .NETFramework,Version=v4.7.2, .NETFramework,Version=v4.8' instead of the project target framework '.NETCoreApp,Version=v3.1'. This package may not be ful

[2020-09-17 13:40] alexalok commented on #34
Hey, @agentschmitt!

Thanks for bringing the attention to this issue. To be honest, I wasn't aware of the BouncyCastle.NetCore library existence. Of course it makes total sense to change the package. I will do this tomorrow.
In the meantime you can safely use the .NET Framework BouncyCastle package and ignore the warning as all the methods from BouncyCastle used by dotAPNS are fully compatible wit

[2020-09-21 09:53] Trushal0066 opened #35 "How to sent image in push notification using this library"
I want to send image in APNS payload using this library

[2020-09-21 10:05] alexalok commented on #35
Hi,

there is no built-in way to do so. The reason is that APNs itself does not has any features to support your case directly. You may use the following solutions:

1. Host an image somewhere and send a URL in a payload. Upon receiving, your app can download the image by reading the URL provided.
2. Base64-encode the image and send it in a payload. Upon receiving, your app can base64-decode it an

[2020-09-22 07:03] #31 closed, assigned to nobody

[2020-09-22 07:06] alexalok commented on #33
[Done](https://github.com/alexalok/dotAPNS/commit/a3eba32082c804888772b30a5ac8b4482ba1840f)

[2020-09-22 07:06] #33 closed, assigned to alexalok

[2020-09-22 07:07] #35 closed, assigned to nobody

[2020-09-22 07:24] alexalok commented on #34
Upon further investigation I see that the BouncyCastle.NetCore package [page](https://www.nuget.org/packages/BouncyCastle.NetCore/1.8.6) links to its github [repo](https://github.com/chrishaly/bc-csharp) which hasn't been updated since 2018.
Since there's really no issues with the original BouncyCastle package except the warning which in turn can be silenced I think it's reasonable to leave everyt

[2020-09-22 07:24] #34 closed, assigned to alexalok

[2020-09-22 08:13] agentschmitt commented on #34
They BouncyCastle git project seems not to work on master. They seem to commit to release branches since 3 years. Last commit 6month ago to the 1.8.6 branch. But its also not a big issue to add a ignore for the warning of the package.
I just had to add it explicitly to the project to add an ignore on that to have zero warnings again :)

[2020-09-22 08:43] alexalok commented on #34
I've added an explicit ignore for the warning in question [here](https://github.com/alexalok/dotAPNS/commit/87ed28746f5fa88a87024e84742d29270fc32c75).
You may update your dotAPNS dependency to [2.5.1](https://www.nuget.org/packages/dotAPNS/2.5.1) to benefit from this fix.
Hope that helps! 👍

[2020-09-24 13:00] Trushal0066 opened #37 "How to sent silent notification using this library"
I want to sent silent push notification. can some one give example how we can achieve this.

[2020-09-24 13:06] alexalok commented on #37
Sure thing! You may use the following code:

[code]

The example given sends a background (aka "silent") push.

[2020-09-25 10:43] #37 closed, assigned to nobody

[2020-10-11 12:03] penguinawesome opened #38 "Refresh Your Token Regularly"
Hi,

It is stated in the APNS documentation that when using Token based, it should be refresh at least once per 60 mins: https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/establishing_a_token-based_connection_to_apns

Can i instantiate then reuse the APNS client up to more or less 50 mins? Then create a new one again after 50 mins and so forth? Is

[2020-10-12 09:08] alexalok commented on #38
Hi,

thank you for your questions. I'll address them separately.

Yes, ApnsClient automatically refreshes JWT token every 20 minutes ([source](https://github.com/alexalok/dotAPNS/blob/047a869e662158efa64f33da040eeef0f9bae379/dotAPNS/ApnsClient.cs#L268)).

Since you can reuse the single ApnsClient instance there's really no need to reinstantiate it. But you may do so if you want.

Well, not really.

[2020-10-12 10:10] penguinawesome commented on #38
Alright i see that i can reuse the APNSClient for my entire application lifetime, however i need to re-instantiate this every 5 minutes perhaps since i need to pass a new httpClient for every 5 mins (Due to DNS issue and etc. i am using httpclientFactory for generating httpClient which happens to generate once every 5mins).

Since APNSClient  is reusable for the entire application lifetime, i hope

[2020-10-12 14:12] alexalok commented on #38
Just a nitpick, but technically `HttpClientFactory` generates a new `HttpClient` instance every time it is requested ([source](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-3.1#httpclient-and-lifetime-management)). `HttpMessageHandler` is what really gets reused here. With default settings, factory creates a new `HttpClient` with one of the `HttpMessageHan

[2020-10-12 14:29] penguinawesome commented on #38
I agree, i also doubt that APNS DNS changes so frequently, but just for assurance since you'll never know if you hit their maintenance or auto failover :)

Maybe making the Send() method thread safe would be the ideal solution for here :). Thanks! Looking forward for the new updates.

[2020-10-13 08:17] alexalok opened #39 "Making the Send method thread-safe"
The Send() method calls GetOrGenerateJwt() (source) which is in turn not thread-safe. As a result multiple JWT tokens may be created at the very beginning of push sending and/or when JWT token is recreated due to its expiration.

[2020-10-13 08:19] alexalok opened #40 "Refreshing HttpClient inside the ApnsClient"

[2020-10-13 08:29] alexalok opened #41 "Add multiple push tokens support?"
Add a new `AddTokens` method allowing us to pass an array of push tokens so that the push is sent to each one of them instead of one.

[2020-10-20 07:22] i5kender opened #42 "The deadline to upgrade to the APNs provider API has been extended to March 31, 2021."
Hi,
Thank you for this beautiful library. I have .net framework 4.6 wcf service project and objective-c iOS mobile project. I have added this library to my wcf project and i can send notifications.
**Do I need to make changes to my iOS project before the date (March 31, 2021) specified by the apple company?**

Best regards.

[2020-10-20 19:50] penguinawesome commented on #40
This will be better :D so that we won't need to use any httpclientfactory.

[2020-10-20 19:53] penguinawesome opened #43 "How to Handle Unsuccessful: Unregistered"
Hi,

We encountered a lot of unsuccessful APNS with a reason of: Unregistered (it seems that this is a enum). Is there a way to retrieve the HTTP Status code that is being returned by the APNS Api? It would be better to include the HTTP Status code as well and also the raw message (not only the library ENUM).

Also what does this error mean: Reason: Unregistered | Reason String: Unregistered , and

[2020-10-21 11:08] alexalok commented on #42
Hello @i5kender,

thank you for the kind words :)
If you've migrated your project to use dotAPNS then you're ready for the changes you mentioned. The library itself does not use the legacy binary APNs connection and thus not affected by the deadline.

[2020-10-21 11:08] #42 closed, assigned to nobody

[2020-10-21 11:31] alexalok commented on #43
Hello @firephantomassasin,

Unfortunately there's no built-in method to do so as of now but you can refer to [ApnsResponseReason](https://github.com/alexalok/dotAPNS/blob/047a869e662158efa64f33da040eeef0f9bae379/dotAPNS/ApnsResponseReason.cs#L7) to deduct status code from the specific error reason.

As for the explanation of reasons, you may refer to the [official documentation on that matter](htt

[2020-10-21 11:36] penguinawesome commented on #43
Thanks! Got it. In that case, the Reason field is already sufficient.

Anyway, hmmm what is your suggestion on handling this kind of error? Can we can safely remove this Unregistered Push Token response from our DB? I hope you could add some suggestions on how to handle different kind of errors from APNS in the documentation :) That would be great. Thanks again.

[2020-10-21 11:40] alexalok commented on #43
`Unregistered` means that the token is no longer usable and there's no way to fix that on your side, so you should delete it from DB.

Yup, documentation definitely should be worked on :)

Glad I could help!

[2020-10-21 11:40] #43 closed, assigned to nobody

[2020-10-21 11:42] alexalok commented on #38
I've extracted the results of our discussion here to the separate issues so closing this one.

[2020-10-21 11:42] #38 closed, assigned to nobody

[2020-10-21 13:01] penguinawesome commented on #39
This! Highly important :)

[2020-10-23 12:33] i5kender opened #44 "System.net.http.winhttpexception a security error occurred Exception when using token-based authentication in ASP.NET app hosted in IIS"
Hi,
I have made a wpf test application and i can sent notification perfectly. I moved send notification method to my real wcf project.
I get an error from my wcf project as follows.
**Wcf project details**
-  .Net Framework 4.6 wcf service project.
- Token-based connection

**Error info**
system.net.http.httprequestexception an error occurred while sending the request system.net.http.winhttpexcept

[2020-10-23 12:40] alexalok commented on #44
Hello @i5kender,

Does the error appear every time you try to send the push or only from time to time?

[2020-10-23 12:48] i5kender commented on #44
@alexalok
Yes, i get this error every time.

**Note: the other application(WPF desktop app) is sending successfully each time.**

[2020-10-23 12:58] alexalok commented on #44
Looks like certificate validation error ([ref](https://stackoverflow.com/questions/43265186/net-core-api-post-exception-gives-nativeerrorcode-12175)), you might want to check firewall/system proxy configurations. Other than that there's not much I can do really without the access to the machine you're having issues with.

[2020-10-23 13:02] i5kender commented on #44
@alexalok
Let me also write where you threw the error. maybe more suggestions.

catch (HttpRequestException ex)
                    {
                        Console.WriteLine("Failed to send a push. HTTP request failed: " + ex);
                        apiMessage = "Failed to send a push. HTTP request failed: " + ex;
                    }

[2020-10-24 08:18] i5kender commented on #44
Hi @alexalok,
We have activated TLS 1.2 and we allowed port 443 on the firewall but still the problem persists.

**Is there anything else I can try?**

Note: My web service is hosted by a hosting company. so I can not try the direct settings.
I do the settings by opening a ticket.

Best regards;

[2020-10-24 08:25] alexalok commented on #44
Are you using a VDS? If so, make sure you've got all the latest OS updates installed.
Also, HTTP2 is only supported on Windows 7/Windows Server 2008 and above IIRC.

[2020-10-26 12:11] penguinawesome commented on #39
Hi! Any updates? Lately we are encountering a lot of errors: Reason String: TooManyProviderTokenUpdates. I think this is due to the creating multiple JWT Tokens and using it concurrently. We are running in a multi thread (task.run) when sending notifs via APNS for higher throughput and scalability

[2020-10-26 15:12] alexalok commented on #39
Hi @firephantomassasin,

please try https://github.com/alexalok/dotAPNS/tree/feat-threadsafe-send

Please don't forget to post the results here :)

[2020-10-26 15:22] penguinawesome commented on #39
Hey looks great. It's working!

[2020-10-26 15:49] alexalok commented on #39
Glad to hear!

I'll merge into master and publish a new .nuget package tomorrow if there aren't any signs of issues on your side.

[2020-10-26 16:10] penguinawesome commented on #39
Sure! Looking forward to the new version in the nuget 👍  Thanks!

[2020-10-29 12:25] penguinawesome commented on #39
Hello! how is the new nuget package update? :D

[2020-10-30 15:35] alexalok commented on #39
Just uploaded: https://www.nuget.org/packages/dotAPNS/2.6.1

[2020-10-30 15:35] #39 closed, assigned to alexalok

[2020-10-30 16:10] ThomasDevens opened #45 "Issue with SendAsync()"
I'm currently trying to migrate away from PushSharp to support http/2 with sending apns notifications in my project. I was able to setup notifications within a test app (all done in .Net 4.6), but when trying to implement it within my actual app, I'm having issues with the SendAsync() function in the ApnsClient. It seems to make the request, and send the notification correctly, but it never return

[2020-10-30 17:00] alexalok commented on #45
Hi,

thanks for the report. You're right about the cause of the issue. I'll try to publish the fix tomorrow.

[2020-10-30 17:21] ThomasDevens commented on #45
Awesome! Thanks for the quick response

[2020-10-31 15:27] penguinawesome commented on #45
@ThomasDevens  are you using await when calling the apnsClient.Send method? How did you reproduce this kind of issue? We are kinda worried since we haven't encountered this kind of issue in our testing phase and production.

[2020-10-31 17:23] alexalok commented on #45
@firephantomassasin this is a known issue when synchronously waiting on a task result with the captured synchronization context.
If you haven't experienced this issue that means you're either not synchronously waiting for a task result or not using a synchronization context.
WPF, for example, has the context and thus can be prone to this issue.

While the correct fix for that is to not block on th

[2020-11-02 11:19] alexalok commented on #45
Done in https://github.com/alexalok/dotAPNS/commit/f7e17d178cbb632dbc7f4d90ba16fb110263a3bb

Please update to [3.0.0](https://www.nuget.org/packages/dotAPNS/3.0.0)

[2020-11-02 11:19] #45 closed, assigned to alexalok

[2020-11-02 13:36] penguinawesome commented on #41
+1 :D For faster sending of APNS

[2020-11-02 13:37] penguinawesome commented on #40
Hey hopefully, the current overload method will still remain where we can pass our own httpclient :)  even though if this approach  has been implemented

[2020-11-02 13:48] i5kender commented on #44
Hi @alexalok,
HTTP/2 is only supported in Windows Server 2016 (IIS10) or above and Windows 10.
Talking to the hosting company, I learned that the my web service host on the windows 2012 server.
We realized that this error is not related to your library.
https://stackoverflow.com/questions/48047398/send-http-2-request-on-windows-server-2012-r2

Thank you for your interest.

Best Regards.

[2020-11-02 13:55] alexalok commented on #44
This is strange as IIS shouldn't even be involved in making the request. Are you sure you're using a [custom handler](https://www.nuget.org/packages/System.Net.Http.WinHttpHandler/) in the `HttpClient` you're passing to the `ApnsClient`?

Extract from the README:

[2020-11-02 13:58] alexalok commented on #40
Unfortunately I haven't had enough time to think about the design changes needed for the requested feature to work, so can't really say anything concrete on that matter.

[2020-11-02 14:08] i5kender commented on #44
Especially I am using WinHttpHandler.

[2020-11-02 14:43] alexalok commented on #44
Got it!

Well, thank you for a thorough research. I'm closing the issue since there's nothing that can be done on the library side.

[2020-11-02 14:43] #44 closed, assigned to nobody

[2020-11-04 12:41] penguinawesome commented on #39
So far so good, we are using the 2.6.1 in our production and we didn't encounter any TooManyProviderTokenUpdates errors so far. Thank you for this fix.

[2020-11-10 14:02] BillInOKC opened #46 "APNs subtitles"
The APNs documentation indicates that push notifications may include a subtitle, in addition to the title and body. Is this something that can be added here? Thanks!

[2020-11-11 09:42] alexalok commented on #46
Please check out the [3.1.0](https://www.nuget.org/packages/dotAPNS/3.1.0) version.

[2020-11-11 09:42] #46 closed, assigned to nobody

[2020-11-11 14:42] phil16727 opened #47 "Apple Push Notification Port"
As stated in the Apple documentation the APNS has 2 Ports 443 as well as 2197.
There should be a property for the port in order to switch between those two.

https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/sending_notification_requests_to_apns/

[2020-11-11 15:03] BillInOKC commented on #46
Well done! Thank you!

[2020-11-11 15:33] alexalok commented on #46
My pleasure! 👍

[2020-11-11 18:05] alexalok commented on #47
Please check the version [3.2.0](https://www.nuget.org/packages/dotAPNS/3.2.0).

Call `apns.UseBackupPort();` to use port 2197.

[2020-11-11 18:05] #47 closed, assigned to nobody

[2020-11-11 18:10] phil16727 commented on #47
Great Thank you

[2020-11-11 21:09] BillInOKC opened #48 "Including emojis in push messages"
With the legacy APNs system, emojis could be added inline with the text using Java escape code values, i.e. "Here \uD83D\uDC49 is an emoji." With the new system, the notifications displays the undecoded string literal. Using dotAPNS, do I need to be doing it another way? Thank you again!

[2020-11-13 16:32] alexalok commented on #48
Sending `Here \uD83D\uDC49 is an emoji.` results in

![image](https://user-images.githubusercontent.com/5950085/99095864-b4be2c80-25e6-11eb-8a74-e5db40c5a754.png)

So I guess that means no special handling is required :)

[2020-11-13 16:32] #48 closed, assigned to nobody

[2020-11-13 17:12] BillInOKC commented on #48
OK, thanks. I must be doing something wrong.

[2020-11-13 17:38] alexalok commented on #48
You should make sure to not escape the Unicode escape sequence itself, i.e. if `Here \uD83D\uDC49 is an emoji.` becomes `Here \\uD83D\\uDC49 is an emoji.` (notice the double backslashes) then the emoji is not shown.

[2020-11-13 18:29] BillInOKC commented on #48
Thank you for your help with this. The string being sent is rendered just as shown, no escape characters (see below). Just for fun I tried it with two backslashes, and the notification was rendered with both of them. Here is how it's rendered with the original string:

![image](https://user-images.githubusercontent.com/73851028/99107078-e3b6ad00-25aa-11eb-891a-ecdc0918039b.png)

I'm not very good

[2020-11-16 07:22] i5kender commented on #44
Hi everyone,
I have moved my web service project to Windows Server 2019 (IIS 10) then this problem solved and work perfectly. Thank you for your interest. @alexalok

Best Regards.

[2020-11-16 08:00] alexalok commented on #44
Glad to hear you've figured that out!

[2020-11-18 11:13] sachinp-cm opened #49 "The message received was unexpected or badly formatted."
Hi I am using .NET Core 3.1 for writing AWS Lambda and using the Certificate based option to send push notification to APNS however I am getting the error - The message received was unexpected or badly formatted.

this is the code, I am using:

 private async Task<ApnsResponse> SendAsync(
             byte[] certificate,
             string certPassword,
             string message,
             s

[2020-11-18 11:21] alexalok commented on #49
This is *probably* caused by the underlying infrastructure not supporting HTTP/2 connections. Unfortunately without more verbose error description it's hard for me to come up with the possible solution. A full stacktrace might be helpful.

[2020-11-18 11:25] alexalok commented on #48
Could you past the extract from the code that is responsible for the push creation? I might help you with this.

[2020-11-18 11:27] sachinp-cm commented on #49
at System.Net.Http.ConnectHelper.<EstablishSslConnectionAsyncCore>d__4.MoveNext()
   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Threading.Tasks.ValueTask`1.get_Result()
   at System.R

[2020-11-18 11:31] sachinp-cm commented on #49
I am running it using unit test from within Visual Studio Enterprise 2019 edition. What do you mean by "underlying infrastructure not supporting HTTP/2 connections.", how can I check or ensure it?

[2020-11-18 11:39] sachinp-cm commented on #49
![image](https://user-images.githubusercontent.com/74224726/99526098-e53f0580-29ee-11eb-8631-91cd4dfe4ca8.png)

[2020-11-18 13:38] alexalok commented on #49
Could you try running a simple example in the console application without AWS Lambda? There were a few reports on dotAPNS not working due to lack of proper HTTP/2 support on older Windows versions. Are you running on Windows 10/Windows Server 2019?

[2020-11-18 14:52] BillInOKC commented on #48
I am always reluctant to share my code because I am not very good at it and I am sure that experts such as yourself could find ways to improve it, but here it is. Also, it's in VB:

[code]

'"Common" is a separate shared class that contains subs and functions that are accessed from a number of other classes in the project.

[code]
'The APNS code that interfaces with dotAPNS  is in a separate share

[2020-11-18 17:17] alexalok commented on #48
Oh, I see now. Perhaps the old binary protocol interpreted pieces of text that *look like* Unicode escape sequences. The new HTTP/2 protocol indeed does not do that.
The reason it doesn't work for you is because VB does not support escape sequences, i.e. `\uD83D\uDC49` is treated as an actual UTF-8 character in C# but for VB it's just a regular text and is being sent to APNs as such.

Please refer

[2020-11-18 19:04] BillInOKC commented on #48
Thank you VERY much. The function `Char.ConvertFromUtf32(n)` shown in that post looks like it will do the trick. And it makes my code a little bit less complicated. Hopefully I won't need to bother you again!

[2020-11-18 21:13] sachinp-cm commented on #49
I am using
![image](https://user-images.githubusercontent.com/74224726/99588657-0a5b6480-2a3f-11eb-8f20-2d01ec660f78.png)

[2020-11-18 21:20] sachinp-cm commented on #49
Same issue with Console application
![image](https://user-images.githubusercontent.com/74224726/99589375-00863100-2a40-11eb-9fc6-12b43f57ba25.png)

[2020-11-19 11:10] alexalok commented on #48
Glad I could help! Don't hesitate to ask should you have any difficulties in the future.

[2020-11-19 11:17] alexalok commented on #49
Might be related to [this](https://stackoverflow.com/a/38853601/10307803). Perhaps you could try running on another machine? Sadly, the error still seems quite bogus to me.

[2020-11-22 23:35] sachinp-cm commented on #49
Used PushSharp and it worked fine. Thanks for looking into this, I am closing the issue as unresolved from my side.

[2020-11-23 07:53] alexalok commented on #49
Sorry for not being able to help with this one. Glad that PushSharp worked. Keep in mind however that it uses legacy APNs protocol which will be shut down on 31st of March [according to Apple](https://developer.apple.com/news/?id=c88acm2b).

[2020-11-24 11:04] sachinp-cm commented on #49
Do you have an alternative as I am still getting the same error with another machine.

[2020-11-25 11:32] alexalok commented on #49
Is it possible for you to email me the certificate you're using? I will have it deleted after the issue is successfully reproduced on my machine.

Another clue might be the firewall or other network settings.

[2020-11-27 08:53] i5kender opened #50 "There is no information about 3.x.x versions."
Hello,
I am using 2.6.1 version but you have published 3.x.x versions.
I can not find any information about what happens in 3.x.x versions.

* What should I pay attention to when using 3.x versions?
* What are the new features?

Best Regards.

[2020-11-27 11:56] alexalok commented on #50
Hello,

3.0 introduced a breaking change by renaming `Send` method to `SendAsync` so that it is more obvious to the consumers that the method is indeed asynchronous (https://github.com/alexalok/dotAPNS/commit/17857447ae8125516a5ec4180032811498a86180).
There was also a possible deadlock fixed (https://github.com/alexalok/dotAPNS/commit/f7e17d178cbb632dbc7f4d90ba16fb110263a3bb).

[2020-11-30 08:08] i5kender commented on #50
Thank you @alexalok for replying.
If you add firebase support, we will get rid of the pushsharp library completely.

Do you have such an opinion? (Firebase)

Best regards.

[2020-11-30 08:48] alexalok commented on #50
Unfortunately not, dotAPNS only targets APNs and APNs only. Supporting other push providers is currently not planned.

As for Firebase, there's an official library available: https://github.com/firebase/firebase-admin-dotnet, so I don't see the point in re-implementing what's already available.

[2020-12-01 06:44] Pandurangv opened #51 "Not Returning Response After Calling SendAsync"
I have tried using below option but not receiving any response. Please assist me what is going wrong

string certpath=@"F:\MyApplication\dotAPNS-master\ABMS_Distribution_Push_Notification_Certificate.p12";
            string pass="XXX";
            //var jwtOpt = new ApnsJwtOptions()
            //{
            //    BundleId = bundleid,
           //     CertFilePath = p8privateKey,
           //

[2020-12-01 06:46] Pandurangv commented on #51
@jboehle @alexalok @MaximilianAst Please help me

[2020-12-01 07:42] MaximilianAst commented on #51
Which runtime are you using? netcore 2.1, 3.1, net462?

[2020-12-01 08:03] Pandurangv commented on #51
I am using 3.1

[2020-12-01 08:05] Pandurangv commented on #51
I am using windows 8.1 and I don't know Is it support http2

[2020-12-01 08:09] MaximilianAst commented on #51
when your're compiling for netcore3.1 or higher http2 should work. Did the `ApnsClient.CreateUsingJwt(new HttpClient(), jwtOpt);` work before?

Also what is the content of `response`, if you make a breakpoint on `return response;` does it hit?

[2020-12-01 08:57] Pandurangv commented on #51
That also not worked and not returning not hit return response;

[2020-12-01 09:08] MaximilianAst commented on #51
then what is the code around your snippet? It either seems like the thread exites before the push was sent or an uncatched exception occurred in Task.Run(...)

Why do you need `Task.Run(...)` here anyway?

[2020-12-01 09:13] Pandurangv commented on #51
@MaximilianAst  I checked with windows 10 and now It's working fine with both methods thanks for your help

[2020-12-01 09:21] MaximilianAst commented on #51
@alexalok should I update the README this noon and add the info, that there are issues when used on windows 8.1 and lower?

[2020-12-01 09:45] alexalok commented on #51
@Pandurangv, there most likely an exception happening. Since you're firing a new task and not awaiting on it, the exception is swallowed. You could investigate it using [Diagnostics Tools](https://devblogs.microsoft.com/visualstudio/snapshots-on-exceptions-while-debugging-with-intellitrace/) or by [setting up an unhandled exceptions handler](https://dotnetcodr.com/2014/02/18/exception-handling-in-

[2020-12-04 11:43] madhavanadkat opened #52 "Azure web app iOS notifications are not working."
When we publish this code on Azure - we are getting below error.

We have talked, azure technical support and they are saying -> your code is trying to write something to server area and that is not possible in azure.

this code is generating error on azure server.
**var apns = ApnsClient.CreateUsingJwt(new HttpClient(new WinHttpHandler()), options);**

can you help with this, any help is much app

[2020-12-04 12:00] alexalok commented on #52
Please try [this workaround](https://stackoverflow.com/a/50050112/10307803).

[2020-12-04 12:38] mohitdangar commented on #52
![image](https://user-images.githubusercontent.com/63917259/101164784-971b3a80-365b-11eb-85d1-fbbf0d6d5b95.png)
Add Key into App settings but it doesn't work for me.

Is there any other solution

[2020-12-04 12:41] madhavanadkat commented on #52
hey alex, thanks for reply but its not working still.

[2020-12-04 12:44] alexalok commented on #52
@mohitdangar, if your problem is not related to the one described in the first message, please file a separate issue. Make sure to provide a full stacktrace of the exception.

@madhavanadkat, can you please provide a full stacktrace, including the exception message?

[2020-12-04 12:45] madhavanadkat commented on #52
System.Security.Cryptography.NCryptNative.ImportKey(SafeNCryptProviderHandle provider, Byte[] keyBlob, String format)
at System.Security.Cryptography.CngKey.Import(Byte[] keyBlob, String curveName, CngKeyBlobFormat format, CngProvider provider)
at dotAPNS.ApnsClient.CreateUsingJwt(HttpClient http, ApnsJwtOptions options)
at FileReadDemo.Helper.PushNotification.d__1.MoveNext()

this is the exceptio

[2020-12-04 12:51] madhavanadkat commented on #52
alex, we both are in same team, just to avoid confusion.

[2020-12-04 13:03] alexalok commented on #50
Is there anything else you would like to know? Feel free to do so, otherwise please close the issue. Thanks!

[2020-12-04 13:12] alexalok commented on #52
Oh, sorry, my bad :)

So there is no exception message shown in the remote debugging? Like in an example below (notice there's a message in the very first line):

[code]

[2020-12-04 13:15] mohitdangar commented on #52
Exception Message: The system cannot find the file specified.

and its raise from below line
var apns = ApnsClient.CreateUsingJwt(new HttpClient(new WinHttpHandler()), options);

[2020-12-04 13:19] alexalok commented on #52
@mohitdangar, thanks!

Please take a look at [this question](https://stackoverflow.com/questions/43349954/how-can-i-sign-a-jwt-token-on-an-azure-webjob-without-getting-a-cryptographicexc). Looks like one just cannot use `CngKey.Import` on Azure when running on a Free/Shared tier. Unfortunately, dotAPNS uses this call during a JWT generation.

There are 2 immediate workarounds for this:
1. Move to

[2020-12-04 13:24] #50 closed, assigned to nobody

[2020-12-04 13:32] madhavanadkat commented on #52
thanks @alexalok it will be a great help .. thanks for the quick update.

[2020-12-04 14:29] madhavanadkat commented on #52
@alexalok - for now we have converted our Azure plan from shared to basic B plan and notifications are working.

2 things we needs to do, 1st we need to convert azure plan to basic b1 and alos WEBSITE_LOAD_USER_PROFILE = 1 this key in azure app setting.

notifications are working .. for other to help I am updating here.

[2020-12-04 14:30] alexalok commented on #52
Perfect, thanks for sharing!

[2020-12-04 14:32] alexalok opened #53 "Revisit JWT generation logic"
It seems that there are some issues with how the method works in some environments (see #16, #52). Perhaps we can do everything strictly in-memory?

[2020-12-08 13:40] mubaraknet opened #56 "Support multiple apps from single server"
I'm having a Push Notification server in .Net Framework and I want to use the same server for multiple apps under my Apple developer account. Since I cannot use the .p12 certificate, is there a way to achieve this using the token based mechanism?

Why I'm asking is, I saw the JWT token requires the bundle ID, and if so I may need to make different builds for each of my applications.

As of now, I'

[2020-12-08 14:12] alexalok commented on #56
Sure thing! Just create multiple `ApnsClient` instances, passing a different `ApnsJwtOptions` options to each. For example:

[code]

[2020-12-08 14:19] BillInOKC commented on #56
I hope you will allow me to respond to this, because this is precisely what I have been doing. I have three enterprise iOS apps, each of which needs to respond to two Push Notifications sources, one each for a TCP server and an ASP.NET web page --  totaling six sources. (I will be adding two more in the near future.)

What I have done is create a single application containing Alex's dotAPNS librar

[2020-12-08 14:28] alexalok commented on #52
Going to close the issue since it seems the proposed workaround did work. Feel free to reopen should you have any more difficulties.

[2020-12-08 14:28] #52 closed, assigned to nobody

[2020-12-08 14:29] alexalok commented on #49
The issue seems stale so I'll go ahead and close it. Please feel free to reopen should you have any more questions!

[2020-12-08 14:29] #49 closed, assigned to nobody

[2020-12-08 15:22] mubaraknet commented on #56
Thank you @alexalok for the quick response and example. And @BillInOKC , I appreciate the time you took to explain in detail how you implemented it, and thank you very much.

❤

[2020-12-08 15:22] #56 closed, assigned to nobody

[2020-12-09 07:55] BlueHuang88 opened #57 "Support apns-collapse-id Header"
Hi,

I'd like to replace the content of notification ,then I need to add a "apns-collapse-id" field  to the header.
Are there any plans to implement it?

Thanks,

[2020-12-09 09:02] alexalok commented on #57
Hi,

if you want to send a [mutable push](https://developer.apple.com/documentation/usernotifications/modifying_content_in_newly_delivered_notifications), you may use `ApplePush.AddMutableContent()`, i.e.

[code]

`apns-collapse-id`, on the other side, is used to coalesce multiple notifications into a single notification for the user, as mentioned in the [docs](https://developer.apple.com/document

[2020-12-09 10:38] BlueHuang88 commented on #57
Thanks for you reply.

Sorry to make you misunderstand because of my unclear expression. I want to update content of notification that has sent to device.

So I'm sure I need apns-collapse-id field, thanks for your help.

[2020-12-09 10:45] alexalok commented on #57
Got it, I'll work on that in a free time.

Still, I'd like to emphasize again that you probably need a [mutable push](https://developer.apple.com/documentation/usernotifications/modifying_content_in_newly_delivered_notifications) to update the content of notifications, which does not require `apns-collapse-id`. Instead, it requires `mutable-content: 1` key in the push payload itself which can be a

[2020-12-10 01:43] BlueHuang88 commented on #57
Thanks for your help .

[2020-12-10 07:36] Pandurangv commented on #51
@MaximilianAst
I have checking same with adding log on windows server 2012 R2.
Microsoft already mentioned at below Url. Http Support only on Windows 10. Windows Server 2016.
https://docs.microsoft.com/en-us/iis/get-started/whats-new-in-iis-10/http2-on-iis

On windows server 2012 we are facing below exception can you assist me. Is It possible on windows server 2012 R2. If yes then how It can be ac

[2020-12-10 08:24] MaximilianAst commented on #51
Are you hosting your application within IIS or as a standalone process?

All references I found are in combination with IIS:
- https://serverfault.com/questions/871501/windows-server-2012-r2-iis-10-http-2
- https://stackoverflow.com/questions/48047398/send-http-2-request-on-windows-server-2012-r2

[2020-12-10 08:33] Pandurangv commented on #51
Yes hosted on IIS

[2020-12-10 10:29] alexalok commented on #51
Looks like a TLS handshake problem to me. Could you try running outside of IIS and checking if the issue persists? If it does not, then it might be related to disabled cipher suites in IIS which in turn leads to an inability of your client and APNs server to decide on a common cipher suite. [IISCrypto](https://www.nartac.com/Products/IISCrypto/) might help you with that, though I advice to use it

[2020-12-10 10:32] MaximilianAst commented on #51
As @alexalok suggested, you could try publishing it as self-contained application and check if APNS are working when running as a console application to narrow down the issue.

[2020-12-10 10:50] Pandurangv commented on #51
@alexalok Yes I have tried but facing same error

[2020-12-10 11:53] alexalok commented on #51
Sadly, that probably means HTTP/2 is either not supported on 2012 R2 network stack or has a bug when using client-side certificates. The best (and maybe the only) workaround would be to upgrade to a more recent Windows Server version. Not much can be done on the library side, unfortunately. I'll reflect that in a README.

[2020-12-10 12:05] Pandurangv commented on #51
@alexalok Thanks for your valuable assistance

[2020-12-11 13:08] mohitdangar commented on #52
@alexalok We faced one issue on notification. while we sending more than one notification continues on same device token then it will return the error "TooManyProviderTokenUpdates".

Can you help me on this ?

[2020-12-11 13:16] alexalok commented on #52
You should make sure the `ApnsClient` instance you create persists between calls to `SendAsync()`. If you create multiple `ApnsClient` instances they each generate their own JWT. [APNs docs](https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/establishing_a_token-based_connection_to_apns) state that

So in a nutshell, if you're recreating `ApnsClient

[2020-12-11 13:21] alexalok opened #58 "Add info about problems with old Windows versions in README"

[2020-12-12 01:29] madhavanadkat commented on #52
@alexalok  thanks for the quick reply, we did the research from our side also and you are right we are generating new token on every request, now we will make the code until 1 hr or less than 1 hr new token will not be generate.

will keep you updated over here so, it will be on google for others help as well.

[2020-12-15 03:00] penguinawesome commented on #52
@mohitdangar what kind of error are you encountering with "The system cannot find the file specified" ?

Is it like this:

Exception Type:
NetworkInformationException

Message:
The system cannot find the file specified

Stack Trace:
   at System.Net.NetworkInformation.SystemIPGlobalProperties.GetFixedInfo()
   at System.Net.NetworkInformation.SystemIPGlobalProperties.get_FixedInfo()
   at System.N

[2020-12-29 17:48] alexalok opened #60 "Remove dependency on the real certificates in unit tests"

[2020-12-29 21:02] #57 closed, assigned to alexalok

[2021-01-05 06:23] BlueHuang88 commented on #57
Hi

I see the new version 3.3.0 , and download it from NuGet . But I don't see the change from this says https://github.com/alexalok/dotAPNS/commit/0742dc04257584640cd419a58d3a5244559c3409 .

I use WinMerge and it's similar to 3.2.0 . Could you please check on it ?

Thanks

[2021-01-05 11:45] alexalok commented on #57
Oops, my bad! Fixed in [3.3.1](https://www.nuget.org/packages/dotAPNS/3.3.1).

[2021-01-07 15:15] #51 closed, assigned to nobody

[2021-01-07 15:27] alexalok opened #61 "CI fails on windows-latest"
External issue, see https://github.com/actions/virtual-environments/issues/1090 and https://github.com/actions/setup-dotnet/issues/155.

Suggested workaround: https://github.com/actions/virtual-environments/issues/1090#issuecomment-748452120

[2021-01-07 15:28] alexalok commented on #61
Fixed in 69b18ac769bab6bab427d6bbde1b966b7256ed72

[2021-01-07 15:28] #61 closed, assigned to alexalok

[2021-01-11 13:43] BillInOKC opened #63 "Badge-only alerts?"
I have tried to search this out on my own so I wouldn't trouble you with it, but I am having no luck. Under certain circumstances, I would like to send an alert that ONLY updates the badge, and not show an alert or play a sound. Is there a way to do that?

I've tried sending all blank fields except the badge field, and that didn't work. I also tried not adding the `.AddAlert` and the `.AddSound` p

[2021-01-11 13:55] alexalok commented on #63
IIRC, `alert` type requires an alert body to be present (this is an APNs requirement).
You could try sending a `background` push, though I haven't tested it. You will also need to modify the library and comment out [this line](https://github.com/alexalok/dotAPNS/blob/69b18ac769bab6bab427d6bbde1b966b7256ed72/dotAPNS/ApplePush.cs#L175). With the modification done, try the following code:

[code]

[2021-01-11 14:26] BillInOKC commented on #63
As always, thanks for your help. Out of caution, I think I would rather avoid making any changes to your library code, and then having to compile it. This is not an important enough issue to take that kind of significant step. It's possible I can accomplish the same thing on the client side.

[2021-01-11 14:26] #63 closed, assigned to nobody

[2021-01-11 14:41] alexalok commented on #63
For anyone else who stumbles on this issue, please remember that background pushes are unreliable and their delivery may be indefinitely delayed.

[2021-01-28 14:50] JasonCavendish opened #64 "JWT Expiration"
How does the dotAPNS package handle JWT expiration?

[2021-01-28 15:23] alexalok commented on #64
ApnsClient refreshes the JWT automatically within the correct time range. For more details, refer to the [source code](https://github.com/alexalok/dotAPNS/blob/67df97d0e9025acd2f4b94cb70dab05116ed4552/dotAPNS/ApnsClient.cs#L296).

Using multiple ApnsClient instances with the single APNs certificate is not supported because it would lead to multiple JWTs being generated and refreshed simultaneously

[2021-01-28 15:53] JasonCavendish commented on #64
Can the JWTs be expired immediately after the request?
Wouldn't that support multiple instance use?

[2021-01-28 15:58] alexalok commented on #64
As per [APNs documentation](https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/establishing_a_token-based_connection_to_apns) (_Refresh Your Token Regularly_ section):

[2021-01-29 10:42] #64 closed, assigned to nobody

[2021-02-06 19:35] penguinawesome opened #65 "I would like to view the changelogs for every version released in nuget"
Hi! This library is very useful. Thank you for creating it. I would like to view the changelogs for every version released in nuget. Is there a changelog? I can't find it in the Tags / Release part of this github repo. Thanks!

[2021-02-06 19:41] alexalok commented on #65
Hi! Thank you for kind words. Unfortunately there's no single central place for changelogs. You can however see the changes for every specific nuget release on its page on the nuget website.

[2021-02-07 18:47] i5kender opened #66 "There is a problem with sending multiple notifications."
Hi,
There is no problem sending notifications to a single device. When sending notifications to more than 20 devices, it does not send a notification to most of them. In addition, no exception logs occur for devices that it cannot send. I am writing my notification method below. Do you have any idea about this error?
Not: I am using v3.3.1 version.

Best regards

[code]

[2021-02-07 20:03] alexalok commented on #66
Hi,

how often do you call `SendNotificationToAppleDeviceHTTP2`? If more than once per 20 minutes then `ApnsClient` instance must be reused (for example, saved as a static field). The reason is that JWT must not be refreshed more than once per 20 minutes but every time you call `ApnsClient.CreateUsingJwt(new HttpClient(new WinHttpHandler()), options);` a new JWT is generated.

All `ApnsClient` met

[2021-02-08 12:28] i5kender commented on #66
@alexalok
I call this method one time and I am sending more than 50 regid lists.  It does not send a notification to most of them.

[2021-02-08 12:36] alexalok commented on #66
What is the value of `response.Reason` for failed notifications? Or is `response.IsSuccessful == true` for all of them?

[2021-02-08 13:07] i5kender commented on #66
You can see the **"WriteLog"** method I wrote below at every point where errors may occur but there is no log file generated.
All notifications pretend to be successful. We could not catch this problem because we tested with 3-5 devices in our tests.
**It doesn't make sense to re-create the line I wrote below for each regid ?** (Put this CreateUsingJwt method first line of for loop)
ApnsClient apn

[2021-02-08 13:14] alexalok commented on #66
Sure thing, recreating `ApnsClient` instance for every push will lead to an error from APNs due to too frequent JWT update.
What you could do is identify a push token of one of the devices that do not receive a notification and try to send a single notification to that specific token. That way we'd eliminate one of the possible problems, specifically multiple notifications being sent simultaneousl

[2021-02-08 13:45] i5kender commented on #66
We noticed this error when a bulk notification was not received to a device that we know was already can sent as a single notification.

[2021-02-08 14:05] alexalok commented on #66
I see. If there's indeed no errors shown when sending notifications in bulk then there might be some other non-obvious limit on the APNs side. Unfortunately, I'm out of guesses.

[2021-02-08 14:39] i5kender commented on #66
Does it work if I put a wait for thread after each sends?

[2021-02-08 14:50] alexalok commented on #66
I don't think so, send method is thread-safe by nature. But you could try.

[2021-02-10 11:41] Bluesky13503 opened #67 "APNS Header Information"
Hi,
can someone help me with the Header properties which apple offer?

Iam looking for the Following:

apns-topic
apns-collapse-id
apns-priority
apns-expiration
apns-id
apns-push-type

https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/sending_notification_requests_to_apns/

I found ApplePushType, Priority which I guess are apns-push-type and apns-p

[2021-02-10 12:02] alexalok commented on #67
Hi!

`apns-topic` is set automatically by the library ([source](https://github.com/alexalok/dotAPNS/blob/67df97d0e9025acd2f4b94cb70dab05116ed4552/dotAPNS/ApnsClient.cs#L280)).

For `apns-collapse-id` use `push.AddCollapseId("test_collapse_id");` ([source](https://github.com/alexalok/dotAPNS/blob/0742dc04257584640cd419a58d3a5244559c3409/dotAPNS.Tests/ApnsClient_Tests.cs#L189)).

`apns-priority` is

[2021-02-10 19:37] BillInOKC opened #68 "Allow setting "UseSandbox()" on per-push basis"
Can you help me understand how to apply the `UseSandbox()` directive?

I have three iOS devices, one of which is a development device, which requires using the sandbox. When sending a push notification, my code checks to see if the target device is a development device (contained in the user database table). The process runs through this short segment:

`If dicAPNS("isdev").ToLower = "true" Then`

[2021-02-10 19:58] alexalok commented on #68
Hi,

this is indeed one of the shortcomings of the initial library design. For your scenario you would need to create two `ApnsClient` instances with one sending to production and another to sandbox. This is how I do it myself anyway.

I may rework that to allow setting environment on per-push basis but cannot provide estimates. Perhaps someone else could do that and send a pull request.

[2021-02-10 20:01] BillInOKC commented on #68
OK, thanks... That's fine. I wouldn't have thought of having separate instances. That shouldn't be too difficult.

[2021-02-11 02:43] penguinawesome commented on #65
@alexalok maybe you could indicate some highlights  or summarize changelogs per version here in the github in the release page. Other libraries are putting their changelogs in the release page. This will be helpful for all users that are using the library, to see if there is a breaking changes or etc. Thanks again for the great work!

![image](https://user-images.githubusercontent.com/8090574/1075

[2021-02-11 05:19] alexalok commented on #65
Yup, will try to do that. Thanks for the suggestion!

[2021-02-11 09:10] penguinawesome commented on #65
Thanks @alexalok ! will wait for it. Currently we are still using the version 2.6.1, is it safe or are there any breaking changes when updating to the latest version 3.3.1?

[2021-02-11 09:33] alexalok commented on #65
Generally it is always favorable to use the latest version.

3.0.0 renames `Send` to `SendAsync` as per [Microsoft gidelines](https://docs.microsoft.com/en-us/dotnet/csharp/async#important-info-and-advice) and fixes possible deadlock in this method that existed in all previous versions.

3.1.0 adds an alert subtitle support.

3.2.0 adds an APNs backup port support.

3.3.0 adds `apns-collapse-id` s

[2021-02-11 10:05] Woko12759 opened #69 "Apple AAA Certificate"
Today I received:
On March 29, 2021, token and certificate-based HTTP/2 connections to the Apple Push Notification service must incorporate the new root certificate (AAACertificateServices 5/12/2020) which replaces the old GeoTrust Global CA root certificate.

I am using dotAPNS cause of HTTP/2 support.
So, is there any further action needed, to integrate the AAACertificate which can be downloaded

[2021-02-11 10:27] alexalok commented on #69
Hi,

were there any links in the message?

[2021-02-11 11:18] penguinawesome commented on #65
Thanks! Will try to update to the latest version :)

[2021-02-11 12:07] alexalok commented on #69
Full extract:

From: Apple Developer <developer@email.apple.com>

So to answer your question,

This is the server-side APNs certificate so you generally don't need to do anything. dotAPNS uses your local PC's certificate store to validate the server certificate so just make sure your OS is up to date. For more info refer to [this article](https://developer.apple.com/documentation/usernotifications

[2021-02-11 12:07] #69 closed, assigned to nobody

[2021-02-11 12:56] alexalok commented on #53
Perhaps we could also drop a dependency on BouncyCastle? Surely .NET Core can generate JWT without external deps, couldn't it?

[2021-02-12 15:01] Woko12759 commented on #69
Thanks for your answer:
But you said dotAPN uses your local PCs certificate store to validate.
So I have at least to install the new AAA certificate there, right?

[2021-02-12 16:43] alexalok commented on #69
Proper root certificates should already be present in your OS installation. Generally, it's not advisable to install certificate by hand and let OS handle that instead.

[2021-02-14 07:18] mubaraknet commented on #69
I'm using a Push Notification Server application based on C# using the dotAPNS library. I use the token-based APNS. Do I have any action items for this mail from Apple?

Sorry for asking this repeatedly, it's a little confusing :/

[2021-02-14 07:55] alexalok commented on #69
Generally no action is needed. Just make sure your OS has the latest root certificates. It's almost always the case if you update your system regularly.

[2021-02-17 02:14] penguinawesome opened #70 "Support FCM Push Notifs"
Hi! Thanks again for this great library. I hope FCM push notifs can be added in this library as well, to support the major mobile push notifs already. Right now we are still using different library just for FCM push (PushSharp), and it seems that pushsharp is still using the old FCM APIs.

[2021-02-17 07:28] alexalok commented on #70
Hi! Unfortunately, as the library name implies, it only solves one specific task - sending pushes to the APNs. For FCM support other libraries should be used. Moreover, there's an [official FCM client](https://developers.google.com/api-client-library/dotnet/get_started) from Google.

[2021-02-17 07:28] #70 closed, assigned to nobody

[2021-02-18 09:07] mubaraknet opened #71 "Error when used in a VB.Net project"
I'm getting the below error when I used dotAPNS in a VB.Net project. I have System.Net.Http 4.3.4 and System.Diagnostics.DiagnosticSource also installed

System.IO.FileLoadException: Could not load file or assembly 'System.Diagnostics.DiagnosticSource, Version=4.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51' or one of its dependencies. The located assembly's manifest definition does not

[2021-02-18 09:20] alexalok commented on #71
Try to explicitly add the latest versions of [System.Net.Http](https://www.nuget.org/packages/System.Net.Http/) and [System.Diagnostics.DiagnosticSource](https://www.nuget.org/packages/System.Diagnostics.DiagnosticSource/5.0.1) via the NuGet manager.

[2021-02-25 19:41] mla1 commented on #5
JFYI, it appears System.Security.Cryptography.ECDsa as well as PKCS#8 parsing is not supported in mono, see https://github.com/mono/mono/blob/master/mcs/class/referencesource/System.Core/System/Security/Cryptography/ECDsa.cs and https://github.com/mono/mono/issues/18821.

I used BouncyCastle to load the key and sign the token, but unfortunately I couldn't make HTTP/2 work under mono.
Here's the co

[2021-03-02 10:26] KKoustas opened #72 "BadDeviceToken response"
Hi,
I am using the following code to get the device token
        `public override void RegisteredForRemoteNotifications(UIApplication application, NSData deviceToken)
        {
            byte[] bytes = deviceToken.ToArray<byte>();
            string[] hexArray = bytes.Select(b => b.ToString("x2")).ToArray();
            GlobalData.Instance.NotificationToken = string.Join(string.Empty, hexArray)

[2021-03-02 10:46] KKoustas commented on #72
Sorry to bother you.
I forgot to declare that I am using the sandbox.

[2021-03-02 10:46] #72 closed, assigned to nobody

[2021-03-26 01:02] Varorbc opened #73 "Portable.BouncyCastle replaces BouncyCastle"
[BouncyCastle portable](https://www.nuget.org/packages/Portable.BouncyCastle/) version with support for .NET 4, .NET Standard 2.0, MonoAndroid, Xamarin.iOS, .NET Core

[2021-03-30 04:18] michaweiss10 opened #74 "var response = await apns.Send(push);"
I get the message:
the await operator can only be used within an async method

[2021-03-30 04:22] michaweiss10 commented on #74
using System;
using System.Net.Http;
using System.Threading.Tasks;
using Newtonsoft;
using dotAPNS;

public static class Snippet
{
	public static void SendToiOS()
	{

		var options = new ApnsJwtOptions()
		{
	    BundleId = "BBB",
    	CertContent = "-----BEGIN PRIVATE KEY-----GGGG-----END PRIVATE KEY-----",
    	//CertFilePath = "", // use either CertContent or CertFilePath, not both
    	KeyId =

[2021-03-30 04:24] michaweiss10 commented on #74
What is wrong with the code?

[2021-03-30 07:35] burhan1875 commented on #74
You have top declare your method as async:

"public static async void SendToiOS()"

[2021-03-30 07:45] alexalok commented on #74
As @burhan1875 correctly stated, you need to declare your containing method as `async`.
I highly recommend getting familiar with TAP (task asynchronous programming model) first. [Click here](https://www.c-sharpcorner.com/article/async-and-await-in-c-sharp/) to learn more.

[2021-03-30 07:45] #74 closed, assigned to nobody

[2021-03-30 08:39] alexalok commented on #73
Fixed in d2bda96bef80445f918213be638fc02cb7df1547

[2021-03-30 08:39] #73 closed, assigned to nobody

[2021-03-30 10:31] FelixSun opened #75 "when execute ApnsClient.CreateUsingJwt() have some issue"
hi ， I have a issue in use the dll
In my pc , it's work
but when I deployment the server ,there have some problem,
the error when I execute this code" var apns = ApnsClient.CreateUsingJwt(httpClient, options)"
the error info like this: "the system cannot find the file specified"
I don't know what occur this issue, do you know?
If you have some idear, please tell me. thanks.

[2021-03-30 14:02] alexalok commented on #75
Hi,

how do you create an `options` variable? If you specify the path to the certificate then make sure you do copy it to the server and that the path is valid both on your PC and on the server.

[2021-03-30 14:03] alexalok commented on #65
Will be done for the future versions on the [releases](https://github.com/alexalok/dotAPNS/releases) page.

[2021-03-30 14:03] #65 closed, assigned to nobody

[2021-03-30 19:59] BillInOKC commented on #74
I would like to share a discovery I made that is an alternative to enclosing the method in an ASYNC wrapper. To clarify, I am doing this in VB.net, so I am not sure if it is suitable for C.

I found that enclosing the entire block in an async function made it difficult to get returns from the push process, which I needed in order to determine the success or failure of the push notifications. An as

[2021-03-30 20:18] michaweiss10 commented on #74
Dear Bill
Thank you very much !!

I am completely new at either c or vb.net ☹

Is seems to be that your solution might be very helpful for me
Could you please share an example of the whole vb.net code ?
I mean with the definition of the :BundleId; CertContent; keyId; TeamId

Thanks in advance!
Micha

From: BillInOKC ***@***.***>
Sent: Tuesday, March 30, 2021 11:00 PM
To: alexalok/dotAPNS‏ ***@***.

[2021-03-30 21:19] BillInOKC commented on #74
I'm happy to, with the understanding that I do not consider myself much of an advanced developer, so some of the code contained here may not make sense to some more experienced developers. All I know is that when I get something to work the way I need it to, it's locked in and I don't change it. "If it ain't broke, don't fix it."

Anyway, here is what I have. The name of the method is `TokenBasedC

[2021-03-31 06:08] michaweiss10 commented on #74
Thank you very much!

From: BillInOKC ***@***.***>
Sent: Wednesday, March 31, 2021 12:19 AM
To: alexalok/dotAPNS‏ ***@***.***>
Cc: Micha Weiss‏ ***@***.***>; Author‏ ***@***.***>
Subject: Re: [alexalok/dotAPNS] var response = await apns.Send(push); (#74)

I'm happy to, with the understanding that I do not consider myself much of an advanced developer, so some of the code contained here may not mak

[2021-03-31 08:28] alexalok commented on #74
@BillInOKC, thanks for a detailed description! I have just a little nitpick regarding JWT expiration.

In fact, you do not need to do this yourself because [dotAPNS refreshes JWT automagically](https://github.com/alexalok/dotAPNS/blob/4086262e3cbb9ea23d5f84a0a718d14c145827a9/dotAPNS/ApnsClient.cs#L296).

Again, your code is not wrong in any way, just excessive.

[2021-03-31 11:10] BillInOKC commented on #74
Good, thank you for the tip!

[2021-03-31 12:11] michaweiss10 commented on #74
Bill,

I tried to simplify your code as written ahead

It does not work ☹

tResult does not get any values

what did I miss?

Thanks!

Micha

Imports System
Imports System.Net.Http
Imports System.IO

'Imports System.CodeDom.Compiler
'Imports System.ComponentModel
'Imports System.ComponentModel.Design
Imports System.Security.Authentication
'Imports System.Security.Cryptography.X509Certificates

Imp

[2021-03-31 13:34] BillInOKC commented on #74
Hi Micha, Sorry you're having trouble. A quick scan of your code shows a typo on the line reading the certificate contents:

    Dim strCertContents As String = le.ReadAllText(“\\localpath\AuthKey_7L2KFJVZ34.p8<file://localpath/AuthKey_7L2KFJVZ34.p8>”)

Where "**le**.ReadAllText" should be "**File**.ReadAllText."

...which would return an empty string for the certificate contents.

Now, this may j

[2021-03-31 13:47] michaweiss10 commented on #74
Bill

It is a typo in my  transcription, and not an actual problem 😊

In the original code the line is:

Dim strCertContents As String = File.ReadAllText(“\\localpath\AuthKey_7L2KFJVZ34.p8”<file://132.64.7.153/DevRoot/Dev/magic/MagicXpA/VerForProd/HToolsXpA/dotAPNS/AuthKey_7L2KFJVZ34.p8>)

Thank you very much!

micha

From: BillInOKC ***@***.***>
Sent: Wednesday, March 31, 2021 4:35 PM
To: alexalo

[2021-03-31 13:57] BillInOKC commented on #74
This is something odd, and I don't know what it means. Maybe someone here can help me out. Referring again to your line that reads the certificate contents:

      Dim strCertContents As String = le.ReadAllText(“\\localpath\AuthKey_7L2KFJVZ34.p8<file://localpath/AuthKey_7L2KFJVZ34.p8>”)

Notice how this view renders the quotation marks, compared to other lines that contain quotes, i.e.:

    With

[2021-03-31 14:30] michaweiss10 commented on #74
Thank you very much!
I will update you
Micha

From: BillInOKC ***@***.***>
Sent: Wednesday, March 31, 2021 4:58 PM
To: alexalok/dotAPNS‏ ***@***.***>
Cc: Micha Weiss‏ ***@***.***>; Author‏ ***@***.***>
Subject: Re: [alexalok/dotAPNS] var response = await apns.Send(push); (#74)

This is something odd, and I don't know what it means. Maybe someone here can help me out. Referring again to your line t

[2021-04-06 08:58] #66 closed, assigned to nobody

[2021-04-06 08:58] #67 closed, assigned to nobody

[2021-04-06 08:58] #71 closed, assigned to nobody

[2021-04-13 17:25] wtlgo opened #76 "The SSL connection could not be established"
I honestly not sure if this problem is related to the library or not and apologize a lot if it isn't, but I searched all the Internet today and couldn't find why this is happening and don't know where else to seek help.

So, here how I try to send the notification
[code]

In the last line, the exception is thrown which states that
[code]

It's an ASP.Net Core project on .Net 5.
The system is Windo

[2021-04-14 07:08] alexalok commented on #76
Perhaps you could try on a different machine? Just to rule out the firewall/OS configuration problems.

[2021-04-27 10:48] yannisalexiou opened #77 "A security error occurred in .NET Framework 4.7.2 when trying to connect using Token"
Below is my case, but I can't figure out what is the cause of my issue. I saw other related issues (like #44) without any luck.
Do you have any thought? Can I try anything else?

## Expected Behavior
To send a notification using Token-based connection.

## Actual Behavior
**Update:**
**I found that the first time when i trigger this function I get the below error. But if I try second time I take a

[2021-04-29 14:19] wtlgo commented on #76
Yes, seems like Windows 8 was the issue here. It works fine on Windows 10.

[2021-04-29 14:19] #76 closed, assigned to nobody

[2021-04-30 09:47] 21pg opened #78 "SSL connection could not be established getting in dotAPNS.AspNetCore Certificate-based connection"
we are trying to use Certificate-based connection
Code working for us on local environment but when we upload it on server for production
Giving us Following error-
[code]
**Project/Server configuration -**
netcoreapp3.1
Window server 2012
IIS 8
  We are trying to resolved at our end, any help would be appreciable-

[2021-04-30 09:50] alexalok commented on #78
Please provide some information about your environment, especially the .NET version you're using and OS name and version.

[2021-04-30 10:01] 21pg commented on #78
Thanks for quick reply, Updated

[2021-04-30 11:19] alexalok commented on #78
This OS version seems to be incompatible with HTTP/2 network stack, please see https://github.com/alexalok/dotAPNS/issues/51#issuecomment-742474386.

[2021-05-03 08:40] 21pg commented on #78
**We tried over our different server Window 2019**
but still getting error-
`The SSL connection could not be established, see inner exception.  InnerException System.ComponentModel.Win32Exception (0x8009030D): The credentials supplied to the package were not recognized
   at System.Net.SSPIWrapper.AcquireCredentialsHandle(SSPIInterface secModule, String package, CredentialUse intent, SCHANNEL_CRED

[2021-05-04 17:25] stemig commented on #77
Hi, I too have this problem and I can't send push notifications, not even on subsequent attempts; I always get a generic "security error" when catching HttpRequestException type exceptions.
Same source code as yannisalexiou.

Is it a bug? Am I doing something wrong?

Version: dotAPNS v 3.4.0
Platform: .NET Framework 4.6, Windows 10
Subsystem: Visual Studio Professional 2019

[2021-05-04 17:28] alexalok commented on #77
@stemig there seems to be the underlying http stack issue. I'm investigating that but am not sure if I'd be able to identify the root cause.

[2021-05-06 14:57] #75 closed, assigned to nobody

[2021-05-10 09:14] Shahaji-Mograsys commented on #52
@alexalok  but  , Certificate-based connection is not supported on all .NET Framework versions and on .NET Core 2.x or lower

[2021-05-12 11:11] Shahaji-Mograsys commented on #77
on localhost it works perfect, but after host on server it gives error
"ClassName": "System.Net.Http.WinHttpException",
        "Message": "Error 12175 calling WINHTTP_CALLBACK_STATUS_REQUEST_ERROR, 'A security error occurred'.",

[2021-05-12 14:16] pkolosov commented on #77
Probably, after fast restarting project library can recreate new token faster than "every 20 minutes". Previous token was lost but stay valid. Ignore this error first 20 minutes after start, or save current token on disk and restore after start.

"Similarly, APNs reports an error if you recreate your tokens more than once every 20 minutes."

[2021-05-14 21:38] JMPSoft opened #79 "Not working on production server"
Hi Alexalok,
These codes are working  fine on developer computer. However, not working on production server. Even not giving any error message.
Could you please help.
Thanks.

[2021-05-15 07:55] alexalok commented on #79
Hi,

you could try printing `response` contents. Unfortunately, it's not clear what the issue is.

[2021-05-15 07:56] JMPSoft commented on #79
Thanks for your email. We will contact you as soon as possible.
www.jmpsoftware.co.uk

[2021-05-16 17:12] JMPSoft commented on #79
Thanks Alexalok. It is okay after changing IIS Load User Profile.

[2021-05-16 17:12] #79 closed, assigned to nobody

[2021-05-18 14:07] zealit opened #80 "error when trying to send notification"
when I try to use the send method (Send(apns, push, deviceToken)) in localhost, I receive this error:

<Error>
<Message>An error has occurred.</Message>
<ExceptionMessage>Er zijn één of meer fouten opgetreden.</ExceptionMessage>
<ExceptionType>System.AggregateException</ExceptionType>
<StackTrace> bij System.Threading.Tasks.Task.ThrowIfExceptional(Boolean includeTaskCanceledExceptions) bij System.

[2021-05-18 14:20] #80 closed, assigned to nobody

[2021-05-20 17:44] yannisalexiou opened #81 "Could not load file or assembly 'System.Buffers, Version=4.0.2.0"
## Expected Behavior
To send a notification using Token-based connection in Azure Environment.

## Actual Behavior
In localhost environment under the IIS everything working perfect.
But in Azure i receive the below error under `catch (HttpRequestException ex)`

What I miss? Why the HTTPRequest searches for System.Buffers, Version=4.0.2.0 while I have installed v4.5.1?

[code]

## Specifications

[2021-05-21 13:00] Trushal0066 opened #82 "Some times getting Error when call method apns.send()"
I am getting below error when call apns.send(). Can you please provide me solution for this ?

Error 12007 calling WINHTTP_CALLBACK_STATUS_REQUEST_ERROR

[2021-05-21 15:30] yannisalexiou commented on #81
**TL;DR; Updating System.Net.Http.WinHttpHandler to latest version (v.5) solves the issue.**

The `WinHttpHandler` uses `System.Buffers`.
It seems `System.Buffers` was in a newer version not supported by `WinHttpHandler`.

I also rebuild the reassembly redirects in web.config just to be sure.
From Package Manager console:
[code]

[2021-05-21 15:30] #81 closed, assigned to nobody

[2021-05-22 15:44] alexalok commented on #81
Hi @yannisalexiou,

glad you've managed to resolve the issue! Thank you for sharing with others as well.

[2021-05-22 15:52] alexalok commented on #82
12007 is an error for ERROR_WINHTTP_NAME_NOT_RESOLVED. According to [MS Docs](https://docs.microsoft.com/en-us/windows/win32/winhttp/error-messages), this error indicates that *the server name cannot be resolved*. Looks like some kind of network issue, i.e. DNS request fails.

I assume you use Windows, please try to execute the following commands in the cmd:

1. `nslookup api.development.push.appl

[2021-05-22 16:18] kisjay opened #83 "Error to convert RsaPrivateCrtKeyParameters to ECPrivateKeyParameters with .Net core 2.1"
I am using this package from solution targeting .Net core 2.1 with p12 certificate. It is throwing error: Unable to cast object of type 'Org.BouncyCastle.Crypto.Parameters.RsaPrivateCrtKeyParameters'
to type 'Org.BouncyCastle.Crypto.Parameters.ECPrivateKeyParameters'.

It is throwing error from below lines of codes in ApnsClient, since target framework is not NET46 it's going into this, does it ha

[2021-05-23 07:57] alexalok commented on #83
dotAPNS supports certificate-based connection only on .NET Core 3.0 and above. Full .NET Framework and .NET Core 2.2 and below are not supported. https://github.com/alexalok/dotAPNS/issues/6

[2021-05-23 16:55] kisjay commented on #83
Thank you Alex for responding but I really need to get it work. I am passing the certcontent(cert Private key) instead of certpath , will that also won't work? What is the alternative in this case then (how APNS will establish the connection)? Please guide.

 var options = new ApnsJwtOptions()
                {
                    BundleId = "com.kisjay.XXXX",
                    CertContent = @"-

[2021-05-23 17:10] alexalok commented on #83
It seems that you're trying to use p12 certificate for token-based authorization. This will not work. p12 is used for certificate-based authorization.
For token-based authorization please use p8 certificate. You may follow [this manual](https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/establishing_a_token-based_connection_to_apns) to get one.

[2021-06-01 07:38] michel-el-hajj opened #84 "Getting BadDeviceToken when sending a push"
[code]

The goal is to send a PK push to initiate a VOIP Call.
I am getting BadDeviceToken when testing this code. i've read that it might be between production and development. How should i differentiate between development or production?
What might be the other cause?

[2021-06-01 08:23] alexalok commented on #84
If you run a debug build (i.e. via xcode) then you have sandbox push/voip tokens and you need to call `apns.UseSandbox()` to make `ApnsClient` send sandbox pushes.
Release build (i.e. the one you send to TestFlight or release on the AppStore) use production tokens.
You have to differentiate the environments by hand, there is no built-in way to do so. Note that every time the environment changes yo

[2021-06-01 08:33] michel-el-hajj commented on #84
Thanks for the reply, I edited the code as following and now i am getting this error DeviceTokenNotForThisTopic

[code]

[2021-06-01 08:48] alexalok commented on #84
This error indicates that the push certificate and bundle ID for your app are mismatched.

[2021-06-01 09:57] Hiteshdprajapati opened #85 "Getting "InvalidProviderToken" while calling sendAsync"
var options = new ApnsJwtOptions()
            {
                BundleId = "xxx.xxx",
                //CertContent = "",
                CertFilePath = @"path  of .p8",
                KeyId = "keyid",
                TeamId = "teamid"
            };
		 ApnsClient apns = ApnsClient.CreateUsingJwt(new HttpClient(new WinHttpHandler()), options);
                 var push = new ApplePush(ApplePushT

[2021-06-01 10:02] michel-el-hajj commented on #84
The error was because i am using the fcm token used for normal push instead of the PK push token used for VOIP.
Thanks for the help.
This is my final solution in case someone needed it in the future:
[code]

[2021-06-01 10:02] #84 closed, assigned to nobody

[2021-06-01 10:18] alexalok commented on #85
Please make sure KeyId and TeamId are set correctly and that the p8 certificate you're using is not revoked or expired.

[2021-06-01 10:20] alexalok commented on #84
Glad to see you've had the issue resolved! Note that `ApnsClient` is meant to be reused. If you create a new one for every push you might encounter `TooManyProviderTokenUpdates` error.

[2021-06-01 13:20] Hiteshdprajapati commented on #85
I  have  changed .p8 certificate and  its working  fine  now
Thanks  @alexalok !!!

[2021-06-01 13:29] alexalok commented on #85
Glad I could help!

[2021-06-01 13:29] #85 closed, assigned to nobody

[2021-06-02 09:15] alexalok commented on #78
Please see https://github.com/dotnet/runtime/issues/31282#issuecomment-546019680 for the possible solution.

[2021-06-07 19:32] nealculiner opened #86 "Does this work in .NET Core 5?"
Just implemented the code but it doesn't seem to work in asp.net core 5. Also of note is .NET Core 5 removes support for:

AppContext.SetSwitch("System.Net.Http.UseSocketsHttpHandler", false);

[2021-06-07 20:14] alexalok commented on #86
.NET 5 should be fully supported. Could you please elaborate on the issue you're facing?

As for `AppContext.SetSwitch("System.Net.Http.UseSocketsHttpHandler", false);`, this is only needed when targeting .NET Core 2.0, 2.1 and 2.2.

[2021-06-08 21:31] nealculiner commented on #86
I'm sorry but I abandoned the nuget and coded it myself. I'm using asp.net core 5

[2021-06-08 21:31] #86 closed, assigned to nobody

[2021-06-18 03:46] ghost commented on #77
@Shahaji-Mograsys you need upgrade system to win2016 and later

[2021-06-28 17:23] #82 closed, assigned to nobody

[2021-06-29 17:26] #83 closed, assigned to nobody

[2021-06-30 14:32] lwdeveloper opened #87 "MDM push notification"
Hi,

Is it possible to send the MDM push notification payload with dotAPNS?

In the format `{”mdm”:”PushMagicValue”}` which is the full message, not encapsulated in an "aps" object

We were previously able to do this with PushSharp but it has since stopped working, presumably due to the Apple HTTP/2 changes

An MDM certificate is also required to send the MDM messages which presumably shouldn't ca

[2021-06-30 19:40] alexalok commented on #87
Hi!

Unfortunately, dotAPNS does not support MDM notifications as of now.

[2021-07-03 09:47] iconsultWong commented on #76
But same error happen in Windows 2019 server

[2021-07-03 16:11] alexalok commented on #76
Make sure your current OS allows for HTTP/2 requests. dotAPNS **requires** HTTP/2 networking stack on the system to be fully functional.

[2021-07-06 15:16] lwdeveloper commented on #87
In case anyone else is following this, it is possible to send MDM push notifications with Azure Notification Hubs with a small workaround:

https://docs.microsoft.com/en-us/answers/questions/458207/azure-notifications-hub-ios-mdm-push-notifications.html?childToView=465023#answer-465023

[2021-07-06 15:16] #87 closed, assigned to nobody

[2021-07-09 09:41] #78 closed, assigned to nobody

[2021-07-25 04:44] #77 closed, assigned to nobody

[2021-07-30 08:37] libuke opened #88 "System.Net.Http.HttpRequestException: The SSL connection could not be established, see inner exception."
Jul 30 16:12:57 VM-8-14-ubuntu BarkServer[748]: fail: Microsoft.AspNetCore.Server.Kestrel[13]
Jul 30 16:12:57 VM-8-14-ubuntu BarkServer[748]:       Connection id "0HMAJ6797VAOE", Request id "0HMAJ6797VAOE:00000002": An unhandled exception was thrown by the application.
Jul 30 16:12:57 VM-8-14-ubuntu BarkServer[748]:       System.Net.Http.HttpRequestException: The SSL connection could not be establ

[2021-08-15 14:52] digish777 opened #89 "getting bad device token error."
getting bad device token error. I am not sure. what I am doing wrong. I am passing device token. I am passing certificate. Both are passing. Is it bundle id. if so. where to pass that?

[2021-08-15 15:39] alexalok commented on #89
Are you sending a notification to a debug version of the app or a testflight/release one?

[2021-08-17 09:43] jasonItotal opened #90 ".Net Framework 4.7.2 Voip Token-based connection DeviceTokenNotForTopic"
I am using .Net Framework 4.7.2 with following code

List<string> deviceTokens = new List<string>();
deviceTokens.Add("xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx");

var options = new ApnsJwtOptions()
{
    BundleId = "com.xxxxx.xxxxx.voip",
    CertFilePath = "AuthKey_xxxxxxxxxx.p8",
    KeyId = "xxxxxxxxxx",
    TeamId = "xxxxxxxxxx"
};
var apns = ApnsClient.CreateUsingJwt(new HttpClient(new Http2CustomHa

[2021-08-17 13:38] alexalok commented on #90
Your `BundleId` is incorrect - please remove the `.voip` ending, it should be just an app bundle id with no additions. The library deduces the correct topic from raw bundle id automatically on a per-push basis. In your case, it likely ends up with the `com.xxxxx.xxxxx.voip.voip` topic, which is obviously incorrect.

[2021-08-17 13:41] alexalok opened #91 "[Feature] Throw an exception when passing BundleId ending with `.voip` + docs."
Probably the cause of #90. We should make it clear that `BundleId` accepts what it says and nothing else.

- [ ] We throw an exception
- [ ] We have an xmldoc remark
- [x] We have a readme remark

[2021-08-17 13:43] alexalok commented on #88
Please provide more context, i.e. include your library initialization code (make sure to strip all the sensitive info though).

[2021-08-18 02:37] #90 closed, assigned to alexalok

[2021-08-18 03:37] jasonItotal opened #92 "Accept object as a alert"
When I sending voip alert, I need to send an object as following.
{
    uuid = "982cf533-7b1b-4cf6-a6e0-004aab68c503",
    incoming_caller_id = "0123456789",
    incoming_caller_name = "Tester"
}
Could the library provide a method to accept object as the payload.aps.alert?

Thanks.

[2021-08-18 10:23] alexalok commented on #92
The only possible values for an `alert` object are listed [on the Apple Docs](https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/generating_a_remote_notification#2943365). Thus, this library does not support setting an arbitrary object as an alert.

You can however workaround this by force-adding an object using an `AddCustomProperty` method. Please

[2021-08-19 02:31] #92 closed, assigned to alexalok

[2021-08-24 19:39] carlcartagena commented on #52
https://stackoverflow.com/a/68913031/9372032
Setting WEBSITE_LOAD_USER_PROFILE to equal 1 in the Azure App Service Configuration Strings works.

[2021-08-27 13:14] snehalsomanis1 opened #93 "Getting error "'System.Dynamic.ExpandoObject' does not contain a definition for 'aps'""
'System.Dynamic.ExpandoObject' does not contain a definition for 'aps'
 its throwing from library
Can someone help

[2021-08-27 13:21] alexalok commented on #93
Please provide full stack trace and related code excerpt.

[2021-08-27 13:23] snehalsomanis1 commented on #93
Hi Alexa please find below stack trace

Stacktrace:
Microsoft.CSharp.RuntimeBinder.RuntimeBinderController.SubmitError
Microsoft.CSharp.RuntimeBinder.Semantics.MemberLookup.ReportErrors
Microsoft.CSharp.RuntimeBinder.RuntimeBinder.BindProperty
Microsoft.CSharp.RuntimeBinder.RuntimeBinder.DispatchPayload
Microsoft.CSharp.RuntimeBinder.RuntimeBinder.BindCore
Microsoft.CSharp.RuntimeBinder.RuntimeBin

[2021-08-27 13:25] snehalsomanis1 commented on #93
push = new ApplePush(ApplePushType.Alert);
   push.AddAlert(Title, "Test").AddBadge(1).AddSound("oven.caf");

            push.AddToken(deviceToken);
            push.AddCustomProperty("type", Type, true);
            push.AddCustomProperty("path", System.Text.RegularExpressions.Regex.Unescape(dbPath), true);
            push.AddCustomProperty("db-created-dt", DBCreatedDate, true);

            tr

[2021-08-28 14:45] alexalok commented on #93
If you just see it in Diagnostic Tools Events window then it's safe to ignore because it is thrown and caught internally by the CLR. Please reopen if the exception actually crashes your program.

[2021-08-28 14:45] #93 closed, assigned to alexalok

[2021-09-09 19:55] MacFriis commented on #89
I have a similar issue, I'm using key/jwt token, but I'm running on debug on the device.
I have used this before with another backend implementing (Server side swift/ vapor), where it is working.

[2021-09-13 09:38] alexalok commented on #89
Please make sure you're setting `ApnsClient` to [send sandbox pushes](https://github.com/alexalok/dotAPNS/blob/272a6332e98ee653b250635f568e362b09331994/dotAPNS/ApnsClient.cs#L280).

[2021-09-13 16:57] BillInOKC opened #94 "Remind me: Token authorization means we do not need to renew APNS certificates?"
I've been using dot APNS for several months with AMAZING results. It has never failed.

Because it has been running flawlessly and not needed my attention for so long, I have forgotten some of the aspects of the token authorization-based system. I seem to remember that using this system means we do not need to renew the old-style APNS certificates with apple?

I received a reminder from Apple sayi

[2021-09-13 17:12] alexalok commented on #94
Thank you for kind words! Certificates do indeed expire so you should renew them.

[2021-09-23 14:47] #88 closed, assigned to alexalok

[2021-10-20 12:05] #89 closed, assigned to alexalok

[2021-10-20 22:40] #94 closed, assigned to nobody

[2021-11-04 09:59] FelixSun opened #95 "Messages can be pushed locally when running, but cannot be pushed successfully after being deployed to the server"
I don’t know where the problem is. I used pushsharp+p12 certificate to push before. I recently wanted to change to p8 certificate for push. I quoted dotapns. The local test is running well, and the push message is all normal. After deploying to the server, it cannot be pushed. News, I don’t know what went wrong, have you encountered similar problems? Hope to get your help, thank you very much!

[2021-11-04 22:43] alexalok commented on #95
Are you using Azure by any chance?

[2021-11-22 13:20] Ashita-Designscape commented on #95
I am also facing the same issue, works fine locally, but when deployed on server notifications are not working. I am using azure server.

[2021-11-22 13:22] alexalok commented on #95
Please see https://stackoverflow.com/a/68913081 for a possible solution.

[2021-11-25 11:27] Ashita-Designscape commented on #66
I am facing the same problem when I am trying to send to multiple devices at the same time. Individually the notifications are received on the device.
`private static HttpClient Client = new HttpClient(new WinHttpHandler());`

[code]

[code]

[2021-11-25 12:03] Ashita-Designscape opened #96 "Multiple Devices notifications are not received"
I am facing problem when I am trying to send notifications to multiple devices at the same time. Individually the notifications are received on the device.
`private static HttpClient Client = new HttpClient(new WinHttpHandler());`

[code]

[2021-11-25 12:05] alexalok commented on #96
Please see https://stackoverflow.com/a/70023065/10307803 for a possible solution.

[2021-11-25 12:38] Ashita-Designscape commented on #96
According to the comment, I have to make apnsclient singleton, but that is possible only for .NET Core.. How can I implement it on .NET framework?

[2021-11-25 14:16] alexalok commented on #96
Singleton pattern is not specific to .NET Core or even .NET. For example,
you can create ApnsClient and store it in a static field. As long as there
is a single ApnsClient object in your application it means it is a
singleton.

On Thu, 25 Nov 2021 at 15:38 Ashita-Designscape ***@***.***>
wrote:

--
Regards,
Alexey Chistyakov

CTO at Develotex LLC

[2021-12-04 20:18] YagneshKhamar commented on #95
I am also facing same issue on my voip call api, on checking on local system it is working fine, and on deploying the code on server after publishing it, the request doesnt give any answer, on postman I am getting timeout issue after about 5 10 mins. below is the code I am using for my purpose, please help a solution on this....

[code]

[2021-12-14 12:59] Ashita-Designscape commented on #95
Thank you. this solution worked for azure server. But I am facing problems with plesk.

[2022-01-01 17:25] #96 closed, assigned to nobody

[2022-01-01 20:34] alexalok commented on #68
Fixed in https://github.com/alexalok/dotAPNS/commit/30aa3f2bc8d52c4de2dfe80677d94e0b6829347f

[2022-01-01 20:34] #68 closed, assigned to alexalok

[2022-01-20 14:30] #95 closed, assigned to nobody

[2022-03-24 13:27] Jawvig commented on #9
@lxalln @Faisal0sal Did either of you get wallet update notifications working? We've been banging our heads against a brick wall on this.

In order to use the latest version of this library to send a notification that matches what little documentation there is out there for this and that returned a success response, we had to modify the `ApplePush` class so that it could be used to create a totall

[2022-03-25 09:00] lxalln commented on #9
@Jawvig No, I never managed to get it working with this library.

But we do have it working in production with: https://github.com/Redth/PushSharp
Feel free to drop me an email (i.am @ username.com) if you get stuck, and I'll try and figure out how we did it :)

[2022-03-28 10:18] Trushal0066 opened #98 "Some times getting Error when call method apns.send()"
I am started using APNS but some times I am getting below Error.

Error 12029 calling WINHTTP_CALLBACK_STATUS_REQUEST_ERROR, 'A connection with the server could not be established

I have checked everything related to network and server and it's proper but still getting above error sometimes

[2022-04-25 09:57] pauldunstone opened #99 "Support for Apple Wallet notifcations"
Hi all
Great library, thank you!
Any chance the library will work for Apple Wallet push notifications? Currently they send but don't update the pass.
Cheers, Paul

[2022-04-25 12:37] pauldunstone commented on #99
Quick update, the library does cover Apple Wallet push notifications :-)

If anyone else is struggling just set your bundle id to be the name of the pass certificate i.e. "pass.com.whatever" and set the push type to background.

[2022-04-25 12:38] pauldunstone commented on #9
@lxalln @Jawvig

Did you ever manage to get this library working with Apple Wallet?
We got it working by setting the bundle id to be the name of the pass certificate i.e. "pass.com.whatever" and set the push type to background.

[2022-04-25 15:05] alexalok commented on #99
Hi @pauldunstone,

thanks for taking your time to investigate the issue!

[2022-04-25 15:05] #99 closed, assigned to nobody

[2022-04-27 20:51] priyanka-manticore opened #100 "is there a support for image in ApplePush?"

[2022-04-27 20:52] #100 closed, assigned to nobody

[2022-04-28 14:29] AndyBond2007 commented on #67
Is there any plan to add apns-id support?

Use Case:

Sending a notification which you later wish to "remove" as the status of something has updated (maybe a notification  has been acknowledged from another device)

set the apns-id (or retrieve from response), and send a standard message.

if then need to cancel the message you can send with the same apps-id, but with content-available, this will

[2022-05-04 19:15] #98 closed, assigned to nobody

[2022-05-05 15:43] AverageCakeSlice commented on #99
Hey @pauldunstone, would you be able to share the specifics of how you got this working? I've been sending the pushes without updating the pass, but I've been creating the APNS client using a X509 Cert, not using a JWT, since I can't seem to figure out how to configure my cert file for that (I'm using a .pfx right now)

When I look at the bundleId though, it is set to pass.com.mydomain, and the pu

[2022-05-11 09:12] pauldunstone commented on #99
Hi @AverageCakeSlice. I can talk you through our implementation and hopefully that helps.

We are using the Token-based connection, I couldn't get it working with the certificate based approach. The token based connection seems like a much better approach as the token doesn't expire as far as I can see.
Yeah just make sure the bundle id matches the name of your Apple App Pass certificate exactly a

[2022-08-25 17:18] penguinawesome opened #104 "Upgrade from 3.3.1 to 4.2"
Hi there! its been awhile, we saw that the latest version is now already at 4.2.

Is it safe to upgrade from 3.3.1 to 4.2? Or are there any breaking changes that we need to modify our code?

[2022-08-25 17:21] alexalok commented on #104
Hi! 4.0 did indeed introduce a somewhat breaking change by adding a new exception thrown if ApnsClient is provided with an expired certificate. Please see [release notes](https://github.com/alexalok/dotAPNS/releases/tag/4.0.0) for more info.

[2022-08-26 02:48] penguinawesome commented on #104
Thats cool! Is that the only breaking changes? I think we are good with that, we don't have any dependency on the exception being thrown since we just log it regardless of the output of the exception.

[2022-08-26 08:05] alexalok commented on #104
This is the only breaking change so feel free to update. That said you should test that everything works after the update.

[2022-08-26 09:51] knocte opened #105 ".NETFramework vs .NET(Core,v5 or newer)"
Hey, the README is a bit confusing when it comes to .NETFramework caveats and whatnot.

I'm wondering, why not just remove .NETFramework support and cleanup the README?

Thanks

[2022-08-26 09:54] alexalok commented on #105
Hi!

While the readme could be confusing at first there are still folks out there who use this library on .NET Framework projects. Quite frankly, even I do.

[2022-08-26 09:56] knocte commented on #105
But .NETFramework projects can consume .NETStandard libraries anyway; and this is a library.

[2022-08-26 10:02] alexalok commented on #105
What you say is true but .NET Standard is, as a name implies, just a standardized set of methods, not a framework. Underlying implementation of this set is done by the actual framework, so running the .NET Standard-targeted version of library on a .NET Framework will still result in the same support problems.

[2022-08-26 10:07] knocte commented on #105
I see, ok.

Well, this is just my 2cents, if I were you, at least, I would:
- Try to detect all the unsupported scenarios in .NETFramework and throw a NotSupportedException().
- Clean the README file to have only documentation about .NET6 usage (at the end of the day, v6 is already an LTS; mentions of 2.0, 2.1, 2.2 and 3.0 versions make this lib look like very outdated or deprecated); and then hav

[2022-08-26 10:10] alexalok commented on #105
Thanks for the feedback!

Readme definitely needs some renovations.

As for exceptions, I believe they're already being thrown for unsupported scenarios.

[2022-08-27 01:55] knocte commented on #105
Another bit I'd like to highlight from the README:

This leaves the reader wondering: also newer than 2.2? but if it's older than 2.0 there's no need to initialize?

[2022-08-27 07:15] alexalok commented on #105
Yup, it's really only those 3 versions that need to set a switch. Older versions aren't targeted by the library and newer once have this switch set by default.

[2022-09-12 02:09] NebulaSleuth opened #106 "Using Voip Services Certificate.p12 Getting "Authentication Failed - The credentials supplied to the package were not recognized"
I created a Voip Services Cert on developer.apple.com.  Downloaded it, loaded it into Keychain Access and exported as a .p12 file.
I Converted the .p12 file to Base64 string and include that as a secret in my application (Azure App Service)
In my back end I do this:

`               var key = Environment.GetEnvironmentVariable("APNS_VOIP");

                var pw = Environment.GetEnvironmentVaria

[2022-09-12 08:15] alexalok commented on #106
Which version of .NET and OS are you using?

[2022-09-12 14:02] NebulaSleuth commented on #106
DotNet 6.0.  Also note that this is happening on a deployed Azure App Service (on Windows), not locally.  Because of other factors, it does not run locally.  I plan on building a locally runnable test this evening to see if it related to that.

Since its an Azure App Service, I don't know exactly what version of windows it is running on, but I would expect pretty recent.

[2022-09-12 14:18] NebulaSleuth commented on #106
I found this article:
https://docs.microsoft.com/en-us/azure/app-service/configure-ssl-certificate-in-code
I will try it tonight as well...

[EDIT] - This was the answer.  It requires a Basic tier (No Free or Dev/Test tier support)
Upload the .P12 file (rename to .pfx) and then follow the instructions to make it available to the app.  Then the HTTP2 SSL/TLS connection will succeed.  I tried just u

[2022-09-12 14:56] BillInOKC opened #108 "Thank you for a great API"
I started using your dotAPNS API when Apple switched to the new format because I wasn't smart enough to figure out that stuff on my own. Your API was a lifesaver for me, and I really appreciate your work on it. It has worked reliably for the several years I have been using it. It has also provided me an educational experience, from which I have learned new development tricks.

I also appreciate th

[2022-09-13 02:22] NebulaSleuth commented on #106
As per my edit, I was able to get past the exception.  You can close this issue

[2022-09-13 08:24] alexalok commented on #108
Hi Bill,

thank you for the warm words! I'm glad that I and my library were of use for you. It's crazy that your professional experience is almost twice as much as my entire lifespan😮.  I wish you all the best in retirement. Have fun with your new free time!

Take care,
Alex

[2022-09-13 08:24] #108 closed, assigned to nobody

[2022-09-13 08:26] alexalok commented on #106
Thanks for taking your time to share the solution! I'm now closing the issue as per your request.

[2022-09-13 08:28] #106 closed, assigned to nobody

[2022-09-24 11:23] yaj806 opened #109 "{"Reason":12,"ReasonString":"MissingTopic","IsSuccessful":false}"
{"Reason":12,"ReasonString":"MissingTopic","IsSuccessful":false}

How to solve

[2022-09-25 02:23] #109 closed, assigned to nobody

[2022-09-25 02:23] yaj806 commented on #109
has solve

[2022-09-25 02:41] yaj806 opened #110 "The SSL connection could not be established"
windows  server 2022

use [certificate-based] method,its return The SSL connection could not be established

use [token-based]  method,its ok

[2022-09-30 12:57] prichter98 opened #111 "Add configuration option for using the backup port on Asp.Net Core"
I have encountered a problem trying to use the ApsNet.Core integration package. I need to use the backup port but there is no way to configure the `ApnsService` to create clients using the backup port.

If the service could be configured with an `ApnsServiceOptions` setting, analogous to `DisableServerCertificateValidation`, the problem would be neatly solved.

[2022-10-04 03:57] #105 closed, assigned to nobody

[2022-10-05 14:25] penguinawesome opened #112 "Remove Newtonsoft.Json and use System.Text.Json"
We have observed that this library still depending on Newtonsoft.Json. Newtonsoft is very slow. I hope you could replace it with System.Text.json already since this is faster and the default json serializer already for .net.

[2022-10-06 13:02] alexalok commented on #112
Sorry, this is not a high priority on my list. Perhaps someone could make a PR? I'll gladly review and merge.

[2022-10-06 13:02] #112 closed, assigned to nobody

[2022-10-08 05:05] kikaragyozov opened #113 "The request was aborted when sending notification to development server only."
**Describe the bug**
I'm able to send a push notification to the production server for an Apple Pass wallet for the specified device, using the same certificate I used to generate my apple wallets. But, when I want to do the same for the development server, I get the following exception:

[code]

**Code snippet**
[code]

**Expected behavior**
No errors when sending a push notification to the devel

[2022-10-08 05:10] kikaragyozov commented on #113
I get a feeling it has to do with the fact the certificate was probably created only for a production environment.

[2022-10-18 14:45] j3rm commented on #52
Just curious, if ApnsClient and the token should be persisted to avoid APNS throwing the "TooManyProviderTokenUpdates" error, how does one save the bearer toke and provide it to new instances? I do not see any methods to view the bearer token.  I have multiple apps, and servers in different geo regions behind load balanced ( web farms). Based on what I am reading, we need to create the apnsClient,

[2022-10-25 08:47] penguinawesome opened #114 "Error 12152 calling WinHttpWriteData"
library version: latest (4.2.1)
.net framework: 4.7.2

Error Message:

Error while copying content to a stream. The write operation failed, see inner exception. Error 12152 calling WinHttpWriteData, 'The server returned an invalid or unrecognized response'.

Exception type	System.Net.Http.WinHttpException

Stack Trace:

System.Net.Http.HttpRequestException:
   at System.Runtime.CompilerServices.Ta

[2022-10-25 15:42] alexalok commented on #110
dotAPNS supports certificate-based connection only on .NET Core 3.0 and above. Full .NET Framework and .NET Core 2.2 and below are not supported. See https://github.com/alexalok/dotAPNS/issues/6 for more info.

[2022-10-25 15:43] #110 closed, assigned to nobody

[2022-10-25 15:43] alexalok commented on #114
Are you using certificate or token-based authorization?

[2022-10-25 15:44] #104 closed, assigned to nobody

[2022-11-14 10:20] #113 closed, assigned to nobody